[2017-07-24 07:10] mottosso opened #1 "create_admin error code"
### Problem

Calling `zou create_admin` and handing it an invalid password returns error code 0, which makes it tricky to chain commands.

**Scenario 1**

[code]

**Scenario 2**

[code]

[2017-07-24 07:50] frankrousseau commented on #1
Thank you @mottosso for reporting. I'm preparing a big update of Zou. I will do my best to include the fix into it.

[2017-07-25 16:48] frankrousseau commented on #1
I think it should be fixed by recent changes. Could you give a try?

[2017-07-25 17:14] mottosso commented on #1
Thanks, I'll give this a try soon.

[2017-07-26 06:36] mottosso commented on #1
Works and looks good!

[2017-07-26 09:32] frankrousseau commented on #1
Great! Thank you again @mottosso

[2017-07-26 09:32] #1 closed

[2017-07-27 05:28] g-LuL opened #5 "Problem with asset creation"
When trying to create an asset on the assets page, this error comes out :

The logs of Firefox :

The JSON data looks like this :

Maybe some data is missing in the dictionary...

[2017-07-27 05:40] g-LuL commented on #5
Sorry, wrong repository. This is an issue for Kitsu.

[2017-07-27 05:40] #5 closed

[2017-07-27 08:58] frankrousseau commented on #5
No problem!

[2017-08-25 09:04] col-one opened #12 "description doesn't manage accents (specials chars)"
description doesn't manage accents (specials chars), can be problematic in csv file for kitsu.

[2017-08-30 08:49] frankrousseau commented on #12
Thank you for reporting @col-one . I'm working on architecture changes now. But once done, I will fix this problem.

[2017-09-28 12:10] sayanel opened #22 "timeout de l'event stream"
- rappel: rajouter events à la fin de proxy_pass pour la section location /events dans conf.d/zou.conf:
`proxy_pass: http://localhost:5001/events`
(il y avait une erreur dans la doc la dernière fois)

- concernant zou-events, tout fonctionne parfaitement, l'actualisation automatique se fait bien quand on a deux pages ouvertes mais au bout de quelques minutes on retrouve le message suivant:

[2017-09-28 12:24] frankrousseau commented on #22
Merci pour ce rapport de bug. Je m'attaque à ça la semaine prochaine.

[2017-10-16 17:26] frankrousseau commented on #12
@col-one I cannot reproduce this issue. Is it still something you experience?

[2017-12-07 08:54] frankrousseau commented on #22
Le problème s'avère plus compliqué que prévu. Je vais probablement devoir mettre en place un système de websockets. Je n'ai pas encore déterminé quand je mettrai ça en place.

[2017-12-11 18:42] pilou- opened #47 "Allow users to override default configuration"
Call to `app.config.from_envvar` was removed in 3a69d1ccb264e4f9de57a906a5b2d89b45421426, but this call allowed users to override default values defined in [`zou/app/config.py`](https://github.com/cgwire/zou/blob/master/zou/app/config.py) - for example `KEY_VALUE_STORE` or `NB_RECORDS_PER_PAGE` - using a custom configuration Python file.

[2017-12-11 18:54] pilou- opened #48 "Improve plugins mechanism"
Zou try to import [`event_handlers`](https://github.com/cgwire/zou/blob/master/zou/app/api.py#L57) (module name is hardcoded). By default, this work only when the current working directory contains such a module - this is the case when current working directory is the source directory.

Instead of importing `event_handlers`, another mechanism should be used, [for example](https://packaging.python.

[2017-12-11 20:13] frankrousseau commented on #47
Thanks for reporting!

[2017-12-11 20:13] frankrousseau commented on #48
Thanks for reporting!

[2017-12-16 14:15] frankrousseau commented on #47
It was fixed in last version. I close this one. Feel free to reopen it if needed!

[2017-12-16 14:15] #47 closed

[2018-03-02 14:40] frankrousseau opened #64 "Log rotation"
Log generates big files, it would be better to logrotate them.

https://stackoverflow.com/questions/36424335/log-rotation-with-gunicorn

[2018-03-22 16:15] frankrousseau commented on #64
Note for further adding to documentation:

Add this folder:
[code]

Add this line to gunicorn configuration file:
[code]

Add this logrotate configuration (`/etc/logrotate.d/zou`)

[code]

[2018-04-06 13:44] frankrousseau commented on #22
Je pense revoir complètement ce mécanisme pour le remplacer par des websockets. L'event stream tel qu'il est codé fonctionne trop mal.

[2018-04-06 14:34] frankrousseau commented on #64
I added a section about this in the official documentation:
https://zou.cg-wire.com/log_rotation/

[2018-04-26 06:27] tws0002 opened #73 "can we install zou using Windows Subsystem for Linux?"
Hi,

can we install zou using Windows Subsystem for Linux?

Desmond

[2018-04-26 07:16] frankrousseau commented on #73
I have no idea. Do you know that Microsoft provides a Linux distribution made by them on Azure?

[2018-05-18 13:03] frankrousseau commented on #22
L'event stream a été remplacé par un système de websockets. Je clos l'issue.

[2018-05-18 13:03] #22 closed

[2018-05-18 13:31] #12 closed

[2018-06-07 15:52] frankrousseau commented on #73
Another option is to rely on a virtual machine.

[2018-06-29 11:17] tokejepsen opened #90 "Long and short names."
**Issue**

Defining long names for properties might cause issue when mapping to other systems.

**Description**

This issue originated from [Avalon](https://github.com/getavalon/docker/issues/26) where a project with whitespaces does not comply with Avalon's database.

Commonly among production trackers are a way to define a long and short name for a property. The long name is a visual aid for the

[2018-06-29 15:34] frankrousseau commented on #90
I'm not sur to understand what you mean. About what kind of data are you talking about?

[2018-06-29 15:49] tokejepsen commented on #90
For example the project name can have white spaces, same goes for assets. Avalon does not allow to have whitespaces in the project/asset name.

When we sync data from CGWire to Avalon, we could sanitize the data (remove whitespace etc.), but that will cause an issue when syncing data from Avalon to CGWire.
In Ftrack for example the user sees and inputs a name for the project, lets say "Dark Knight

[2018-06-29 15:56] frankrousseau commented on #90
Ok got it. One more thing to investigate. Thank you!

[2018-09-19 08:50] eliemichel opened #107 "Missing dependency in documentation"
Just a quick fix, but I couldn't not find the source of the doc to make a PR:

The package `postgresql-server-dev-all` must be installed for psycopg, but it is not mentionned in the Dependencies section of [https://zou.cg-wire.com/](https://zou.cg-wire.com/).

(using Debian Jessie)

[2018-09-19 09:06] frankrousseau commented on #107
Hello @eliemichel, thank you for the PR.

The documentation sources are in the `docs` branch: https://github.com/cgwire/zou/tree/docs

[2018-09-19 09:07] frankrousseau commented on #107
Is that a Debian package or a Pypi package?

[2018-09-19 15:27] eliemichel commented on #107
With the Pypi package. I followed https://zou.cg-wire.com/.

[2018-11-27 12:26] tws0002 opened #116 "having error when setup ZOU!!"
hi, I have an issue when Prepare database!! im using ubuntu to do the zou setup.
here is the error
[code]
hope you can help
Desmond

[2018-11-27 13:37] frankrousseau commented on #116
Can you tell us which version of Ubuntu do you use?

[2018-11-27 15:49] frankrousseau commented on #116
It seems to be related to the psycopg version: https://github.com/taigaio/taiga-back/issues/1122

[2018-11-27 15:50] frankrousseau commented on #116
I will upgrade it soon.

[2018-11-27 16:56] tws0002 commented on #116
Hey i using Ubuntu 18.04

[2018-11-28 03:33] tws0002 commented on #116
hi,

is there any way I can fix this problem to make zou running?
because planning to use for an upcoming project. so need a little time to give my team a test on it.

Thanks
Desmond

[2018-11-28 12:34] tws0002 commented on #116
hey, guys how can I fix this?
![kitsu_error](https://user-images.githubusercontent.com/7018625/49152185-05caac80-f34d-11e8-8ebb-d9824443deb2.JPG)

[2018-11-28 12:54] tws0002 commented on #116
hey, guys I just solve the problem. all run smoothly now. I will close this.

Thanks
Desmond

[2018-11-28 12:54] #116 closed

[2018-11-28 15:07] #107 closed

[2018-11-28 15:07] frankrousseau commented on #107
Thx for the fix

[2019-02-11 14:38] frankrousseau opened #129 "Travis CI is broken"
Tests are running well on a local installation but they are failing when running on Travis CI. There is no clear reason coming from test output.

[2019-02-14 12:10] flablog opened #130 "Non ActiveDirectory LDAP not working"
Hi !
We are using a LDAP directory in our infrastructure but it' s not Active Directory. So the implementation is different in some points. That said, the sync (and obviously the authentication) are not working out of the box. Some parameters are changing, some attributes do not exists.

Based on the current sync script, I tried to edit what has to change in order to work in our case (using a syno

[2019-02-14 13:52] frankrousseau commented on #130
Thank you @flablog for reporting. We'll see what we can do for that.

[2019-02-20 10:32] flablog opened #133 "Task estimation time can not be a float"
Apparently, when setting the estimation time of a task, we can only set an int. Any other try, with a `dot` or `comma` makes the action runs forever without feedback. Meanwhile in the server, an error message is raised. It's obvious here that an int is required.

[code]

So how to set a 2 hours estimated task ?
And the gui should return an error maybe ? Or allow only for ints inputs.

[2019-02-20 10:52] frankrousseau commented on #133
Thank you @flablog for reporting. That's definitely a bug.

[2019-02-21 17:08] mathbou opened #134 "LDAP Sync broken"
**Issue:**

I tried to update Zou to 0.9.13 but the LDAP synchronization failed and corrupts a user mail with '[]'. The LDAP_EXCLUDED_ACCOUNTS key seems to also be malfunctionning, the user "Invité" should not be processed.
 However, the 0.9.10 works correctly, except the EMAIL_DOMAIN which has no effects.

<details>
  <summary><b>Traceback:</b></summary>

[code]

</details>

[2019-02-22 13:11] frankrousseau commented on #134
Hello @mathbou,
Thank you for reporting. We'll fix that next week.

[2019-02-25 09:18] frankrousseau commented on #129
Some environment variables were missing: https://github.com/cgwire/zou/commit/19dc437cf0c065f250d75ab7a59da3f0f3798283#diff-354f30a63fb0907d4ad57269548329e3

[2019-02-25 09:18] #129 closed

[2019-02-25 09:20] frankrousseau commented on #90
I'm going to add a `short_name` field to entities. I agree that the naming `name` / `short_name` is not as good as Label/Name or Code/Label but changing this would break too much thing.

[2019-02-25 09:28] frankrousseau commented on #90
Sorry, but I changed my mind. For entities, it's not about setting a short name. It's about allowing a santized name. So I'm going to add a `code` field to projects and entities.

[2019-02-25 12:20] tokejepsen commented on #90
Awesome! What are the specs for the code field? Will there be a regex to comply with?

[2019-02-25 12:30] frankrousseau commented on #90
I wast just thinking about adding a free field. But if you propose a constraint we can add it.

[2019-02-25 12:45] frankrousseau commented on #133
After a second thought. I think it's better to keep it as an int. It will more consistent with the duration field.  I will change Kitsu, so it stores the estimation in minutes before saving it to database. Are you ok with that idea?

[2019-02-25 12:50] tokejepsen commented on #90
How is the field for out? Is it the user/developer doing this?

I would propose lower snakecase, and not allow special characters, so the code could eventually be used on disk for example without issues.

[2019-02-25 13:45] frankrousseau commented on #90
Ok thank you

[2019-02-25 22:40] flablog commented on #133
I guess I'm good with it
As long as we can define something else than just days, even if it's in
minutes :)

Le lun. 25 févr. 2019 à 13:45, Frank Rousseau <notifications@github.com> a
écrit :

[2019-02-27 18:16] mathbou commented on #134
I just tried the Zou update but the sync problem is still there, it throw the same error when it tries to  update the user mail :/ However the EMAIL_DOMAIN and the LDAP_EXCLUDED_ACCOUNTS works pretty well know.

<details>
  <summary><b>Traceback:</b></summary>

[code]
</details>

[2019-03-17 20:55] frankrousseau commented on #133
We fixed this. We decide to change things in the UI and considered estimations as minutes.

[2019-03-17 20:55] #133 closed

[2019-03-20 03:47] cameronpd opened #143 "Email environment variable settings not working"
Hi,

I've tried using the MAIL_SERVER, MAIL_DEBUG, MAIL_DEFAULT_SENDER and DOMAIN_NAME environment variable settings in the systemd services file, but the defaults from zou/app/config.py are always used. I tried editing the defaults in the config.py and that worked.

I used tcpdump verify that zou was trying to connect to the stmp port on localhost.

The DB_, KV_ and SECRET_KEY variables all work

[2019-03-20 10:57] frankrousseau commented on #143
We use all these variables in production. Are you sure you specifiied them correctly?

[2019-03-20 10:58] frankrousseau commented on #143
`MAIL_USERNAME` is required too.

[2019-03-21 01:38] cameronpd commented on #143
Ok, I assumed it would fall back to the default if I didn't need a settings.
However, even when supplying every setting in the systemd service file it still doesn't work.

I think I'm setting them correctly, I'm using DB_HOST, DB_USERNAME, DB_PASSWORD and KV_HOST without issue.

This is what I've just tested in the services file for the email settings:

[code]

As you can see bellow, it's trying t

[2019-03-21 13:07] frankrousseau commented on #143
Are you sure that something is running on `mail.local:25`?

[2019-03-21 14:23] cameronpd commented on #143
Yes, as I said, if I edit zou/app/config.py and change the default localhost to mail.local it works fine. Also if I `telnet mail.local 25` that works as well, although I can't show that till I get into work tomorrow, but that was my first test.

 Just to be clear mail.local is a physically different machine and has been in use as a mail server for a few months.

I don't understand why the DB_ ones

[2019-03-22 05:48] #143 closed

[2019-03-22 08:43] frankrousseau commented on #143
Sorry I didn't mean to offend you. I'm just trying to understand what is happening. We use the same environment variables as you on our hosting infrastructure and it works well. You can see too that the code is straightforward and that default values are set in case you don't set them yourself.
So, before digging further, I wanted to check that nothing was missing in your installation.

About the

[2019-03-22 08:53] frankrousseau commented on #134
@mathbou Is it ok with the last update?

[2019-03-22 08:53] frankrousseau commented on #130
With the last update, it should work. Let me know when you can try it again!

[2019-03-22 08:54] frankrousseau commented on #90
I added the code fields but I didn't put any constraint on them.

[2019-03-25 02:17] cameronpd commented on #143
Don't worry about it, I wasn't offended, just mildly annoyed. I didn't have time to write a proper reply on Friday so I just closed the the ticket, but I've resolved the issue. I was using the cockpit web console to restart the zou service and cockpit was suppressing a systemd warning message, that said exactly what was wrong and what to do to fix it. Add that to my lack of systemd knowledge and a

[2019-03-25 09:50] mathbou commented on #134
It works like a charm 👍

[2019-03-25 09:57] frankrousseau commented on #143
No worry debugging is always frustrating :) If your studio uses Kitsu, would you allow us to display your logo on our home page?

[2019-03-25 09:57] frankrousseau commented on #134
Awesome!

[2019-03-25 09:57] #134 closed

[2019-05-02 06:26] cameronpd opened #150 "zou fails to start after upgrading to 0.9.33"
Hi,

I just upgraded to zou 0.9.33 from 0.9.24 and zou now fails to start with the following in the error log, also trying to run the db upgrade command has a similar error.

I updated using pip as per the docs.

<details>
<summary>Error log output:</summary>

[code]
</details>

<details>
<summary>A very big guess as to the problem</summary>
Based on my limited python ability, it appears to be poi

[2019-05-06 07:53] frankrousseau commented on #150
Hello @cameronpd,

Thank you for reporting this bug. Unfortunately, we do not support Fedora for free. But we will make some trials on Travis to see if something can be fixed.

[2019-05-08 03:18] cameronpd commented on #150
Ok thanks,

But if it's only a matter of installing a different version of python, Fedora has packages for 3.4, 3.5, 3.6 3.7 and 3.8, as well as 2.6 and 2.7, it just defaults to installing 2.7 and 3.7. Your docs just say preferably 3, so I left it as default.

[2019-05-08 11:05] frankrousseau commented on #150
Yep, we didn't know about this issue until you mentioned it. I'm still struggling with Travis configuration. But I don't spend much time on it because it wouldn't be fair towards our customer which have other needs (we give priority to their requests). When it's solved or if I have other questions, I will tell you.

[2019-05-08 11:15] frankrousseau commented on #150
Problem reproduced: https://travis-ci.org/cgwire/zou/jobs/529726653

[2019-05-10 12:52] frankrousseau commented on #150
Tests are now passing. We will publish probably a new release this weekend.

[2019-05-13 12:49] frankrousseau commented on #150
The new version is published. @cameronpd can you tell me if it's working?

[2019-05-14 07:14] BigRoy commented on #130
@flablog to follow up on this, are you able to confirm this has been fixed?

[2019-05-14 07:43] BigRoy opened #152 "Query login tokens through browser session"
### Idea

Would it be possible to query the currently logged in user through a browser session so that, to login with `gazu` one does not need to enter credentials if they are currently logged in online.

I've seen some code for this with other production trackers/managers and was wondering whether that could be a possibility here too?

Reference implementation:
- [Ftrack](https://bitbucket.org/ft

[2019-05-14 10:15] frankrousseau commented on #152
We are not comfortable with this. Shared sessions between browsers and desktop application, doesn't seem secure.  We'll investigate this idea but we don't want to promise anything about it.

[2019-05-15 02:08] cameronpd commented on #150
Great thanks!
Looks good, all seems to be working.

We just started running our first internal project through our new workflow of Kitsu/Zou and Avalon, so this is great timing.

Thanks again.

[2019-05-15 02:08] #150 closed

[2019-05-15 08:18] frankrousseau commented on #150
Great! Could you tell us for which studio? I'm pretty sure that the Avalon guy would be glad to hear about it!

[2019-05-17 03:23] cameronpd commented on #150
TeePee Studios, a small studio in Melbourne Australia.

We've had some contact with the Avalon guys on their Gitter chat, as Avalon isn't exactly easy to setup and get running, but I don't think any studio name have been mentioned.

[2019-05-17 09:33] frankrousseau commented on #150
Great thank you!

[2019-06-13 14:07] mathbou opened #161 "CMYK images are not supported"
**Issue:**

The 'Attach Preview' function of Kitsu raise an error with cmyk images, but it seems to be a processing error within zou.

<details>
  <summary><b>Traceback:</b></summary>

[code]
</details>

[2019-06-13 18:59] BigRoy commented on #161
Thanks for reporting with the traceback.

Zou saves the image as `.png` which does [not support CMYK](https://www.quora.com/Why-wont-Photoshop-save-a-CMYK-document-as-PNG).

Is it important for you that `zou` preserves the CMYK online? If so, it must resort to another format than PNG.

Otherwise I think the used image library PIL should allow conversion to RGB and then saving the resulting `.png`.

[2019-06-14 11:24] mathbou commented on #161
The conversion shoud be enough for our needs.

[2019-06-14 11:35] BigRoy commented on #161
That's great. Unfortunately I'm not running a local `zou` so I can't test it here but I can set up a PR for you to test it if it helps. If you are not afraid to change some code locally and set up a PR you can do that too of course and ensure it's tested.

Basically, what needs to be done is to [do the conversion from CMYK to RGB](https://stackoverflow.com/questions/33101659/convert-from-cmyk-to-r

[2019-06-14 12:50] mathbou commented on #161
I'm using Zou through Docker so I cant set up a PR but I just tested the modification inside a fresh container and it works well.

[2019-06-15 18:03] frankrousseau commented on #161
I will include this fix soon. Or feel free to submit a PR!

[2019-06-15 18:03] frankrousseau commented on #161
And thank you both for solving this issue!

[2019-06-19 10:15] frankrousseau commented on #161
It's included in the latest release. @mathbou Can you try again?

[2019-06-21 12:54] mathbou commented on #161
It's working, thanks guys  😃

[2019-06-21 12:56] #161 closed

[2019-07-12 10:21] frankrousseau commented on #130
ping @flablog

[2019-07-14 14:50] #130 closed

[2019-07-26 05:16] cameronpd opened #169 "werkzeug version"
Hi,

Just upgraded to zou 0.10.20 to test API event changes and saw this in the pip output:

[code]

Cameron

[2019-07-26 09:31] frankrousseau commented on #169
Hello,

Can you try to run `pip install --upgrade werkzeug` in you zou virtual environment?

[2019-07-26 16:04] cameronpd commented on #169
I actually tried that right away and it worked fine as far as I could tell. Just wanted to report it so that it's known about.

[2019-08-09 08:05] frankrousseau commented on #169
It should be fixed in next version. I forced the right version in the dependency list.

[2019-08-16 08:02] #169 closed

[2019-08-16 08:03] frankrousseau commented on #90
Is the problem solved for you @tokejepsen?

[2019-08-16 08:20] tokejepsen commented on #90
Yes, @frankrousseau the `code` field will work. Thanks!

[2019-08-16 08:20] #90 closed

[2019-08-20 10:04] aboellinger opened #174 "Duplicate description in zou commands help"
The _zou_ subcommands `migrate_db`, `upgrade_db` and `stamp_db` share the same description in the help.  This makes it difficult to figure out which command should be used when updating _zou_ to a newer version.

[code]

[2019-08-20 12:30] frankrousseau commented on #174
Thank you for reporting. We are doing some work on Zou instance synchronization. It will be an opportunity to fix the CLI

[2019-09-03 12:37] frankrousseau commented on #174
It shoule be fixed. Can you confirm it's repaired?

[2019-09-09 18:01] #174 closed

[2019-09-13 11:00] Arubinu opened #179 "Error with gazu.project.update_project_data() in 0.10.26"
Hello,

Since Zou version 0.10.26, an error is returned by Zou when using the `gazu.project.update_project_data()` method (works in 0.10.25).

Here is the error returned by Gazu:
[code]

And here is the error present in '/opt/zou/logs/gunicorn_error.log':
[code]

[2019-09-13 11:23] frankrousseau commented on #179
Thank you @Arubinu for the report!

[2019-10-03 12:43] g-LuL opened #184 ""Add comment" raise a 404 error"
When I use gazu.task.add_comment or gazu.task.add_preview, a `RouteNotFoundException`.
[code]
The Zou log looks like this :
[code]

[2019-10-10 13:25] F-Brar opened #187 "Installation Zou"
Hi there,

I am trying to setup the zou API on my raspberry4 for testing purposes. I followed the documentation for installation. When i try executing the following command:
`DB_PASSWORD=yourdbpassword zou init_db`
i get the following message:
`Cannot access to the required Redis instance`

In the doc it says: "Currently Redis require no extra configuration."
I am new to redis and server-related s

[2019-10-10 14:20] frankrousseau commented on #187
Hello @F-Brar,

Can you give us more context about your situation: for which studio and for which kind of production do you want to use Kitsu?

About your problem: did you install Redis properly? On which distribution did you run the installation?

[2019-10-11 08:25] frankrousseau commented on #187
The error message is weird. It says that everything is fine and by the same time it says that something went wrong the PID file. I think you should first solve the PID file issue to make sure that everything is ok.

[2019-10-11 08:26] frankrousseau commented on #187
What is your distribution?

[2019-10-11 09:03] F-Brar commented on #187
I am using Raspbian Buster Lite. I should probably also mention that I am running a nextcloud on Apache2 next to redis and nginx. Maybe a fresh install would be better?

[2019-10-11 15:43] aboellinger opened #191 "Test not passing on gitlab"
After rebasing our fork on the official master branch we still get 2 tests failing (on our gitlab server)

## Gitlab CI file

[code]

## pytest fail report

[code]

Any idea on what could cause this issue ?

[2019-10-14 11:43] frankrousseau commented on #191
Hello @aboellinger,

It's probably related to `PREVIEW_FOLDER` variable. Can you try to set an absolute path for it?

[2019-10-14 12:54] aboellinger commented on #191
Setting an absolute path for `PREVIEW_FOLDER` did the trick indeed.
Thanks !

[2019-10-14 12:54] #191 closed

[2019-10-25 07:55] frankrousseau commented on #187
Not sure. Of course, limited resources can be a problem. But for a few queries like login, it should be enough. It seems there is an issue with the Redis install too.

[2019-11-08 09:01] xtvjxk123456 opened #198 "can not send email"
sorry for my bad english.
The problem:
 1,already install zou and cgwire
2, config email environment done. use online smtp server(smtp.163.com)
3, when send invitation got error:
`[2019-11-08 16:58:17,362] ERROR in __init__: Traceback (most recent call last):
  File "/opt/zou/zouenv/lib/python3.6/site-packages/flask/app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  Fi

[2019-11-08 10:03] frankrousseau commented on #198
The problem seems related with your email provider. You must first see what is required by this provider.

The other solution is to use a local postfix install:

[code]

[2019-11-12 16:00] g-LuL commented on #184
Now working since gazu : v0.6.19 and zou  0.10.56.
Thanks :)

[2019-11-12 16:00] #184 closed

[2019-11-12 17:36] frankrousseau commented on #184
Great :)

[2019-11-13 01:41] xtvjxk123456 commented on #198
my bad .my system has network issue.

[2019-11-13 01:41] #198 closed

[2019-11-13 11:55] frankrousseau commented on #198
Please @xtvjxk123456, can you start the Kitsu repository?

https://github.com/cgwire/kitsu

[2019-11-19 17:06] #179 closed

[2019-12-10 16:17] flablog opened #208 "LDAP sync failing on previously created accounts"
If I have created an account, for example the first admin account, with an email also present in the LDAP, there is an error while synchronizing the LDAP with the _zou sync_with_ldap_server_ utility.

Only the desktop login appears to be tested https://github.com/cgwire/zou/blob/master/zou/app/utils/commands.py#L240-L244

[2019-12-10 16:23] flablog opened #209 "LDAP Environment variable LDAP_IS_AD not working properly"
On the zou.service file, while connecting to an LDAP server you can use the LDAP_IS_AD variable. But it does not appears to create a boolean while initializing the zou instance, so it does not work as expected later on.

It's true at least using :
Environment="LDAP_IS_AD=False"
The LDAP connection is returning :

So far, leaving that variable unset (which is defined to False by Default) works in m

[2019-12-17 21:54] #187 closed

[2019-12-18 16:36] frankrousseau commented on #48
https://cgwire.canny.io/integration/p/create-a-plugin-system

[2019-12-23 20:14] Tilix4 opened #212 "Error uploading preview with comment"
Ubuntu 18.04

`/opt/zou/logs/gunicorn_error.log`:
[code]

[2019-12-23 20:20] flablog commented on #212
By default the Zou user can't write in /tmp/zou (at least on ubuntu server)...  It should be clearer in the doc, but you can do a chown -r or chmod on that folder.

[2019-12-23 20:22] Tilix4 commented on #212
Yeah, I just managed to do it. Thanks for your quick reply! It must be written in the doc.

[2019-12-23 20:22] #212 closed

[2019-12-23 21:15] flablog commented on #212
Be aware that this solution is temporary: after a reboot it will probably be unset.

You can change the temporary folder in the configuration with the TMP_DIR environment variable

[2019-12-23 22:44] Tilix4 commented on #212
Thank you very much!

[2019-12-24 15:49] frankrousseau commented on #208
It should be fixed. Can you verify?

[2019-12-24 15:49] frankrousseau commented on #209
It should be fixed. Can you verify?

[2019-12-25 06:25] pcdinh opened #214 "create_admin does not create valid account"
Hi,

I followed installation guide at https://zou.cg-wire.com/#install to install Zou 0.11 in my local computer and found that the command

[code]

does not allow me to create a valid admin account

[code]

It does not ask me to specify a password. So I logged in using "default" as password as the docs says

[code]

However, login with such credentials does not work.

It says

[code]

Basically I

[2019-12-25 06:37] pcdinh commented on #214
I logged in zoudb database and found that

[code]

`active` is set to `true`. So `ubuntu@gmail.com` is activated by default. The message `Log in failed, please verify your credentials` is very confused

[2019-12-25 06:57] ddesmond commented on #214
This sound like your postegress hb config is "not set properly". Can you try to change config in hba config like written here:
[https://www.linode.com/docs/databases/postgresql/how-to-install-postgresql-relational-databases-on-centos-7/#secure-postgresql](https://www.linode.com/docs/databases/postgresql/how-to-install-postgresql-relational-databases-on-centos-7/#secure-postgresql)
try changing it

[2019-12-25 07:14] pcdinh commented on #214
Thanks for your support. I checked Chrome debugger and found that the server response was

[code]

The  I checked Zou log at `/opt/zou/logs` and found that PostgreSQL did not allow local authentication via password. I changed `pg_hba.conf` to enable it.

However, Kitsu, the Zou front-end does not understand it. Its response

[code]

is very misleading

[2019-12-25 15:31] frankrousseau commented on #214
You're right.
But for your information after a new install, you have to check the status endpoint:

[code]

[2019-12-25 15:32] frankrousseau commented on #214
Can I close this issue?

[2019-12-28 04:48] ddesmond opened #216 "The notification emails are not showing correctly in email client"
The Production tracker emails (as html formatting in email client) shows correctly.
The notification emails are not showing correctly (as html formatting in email client).

The expected behavior is:
Show correctly HTML tags for email notifications.

[2019-12-28 13:17] frankrousseau commented on #216
Thank you @ddesmond for reporting

[2019-12-28 16:19] ddesmond commented on #216
<img width="944" alt="Screenshot 2019-12-28 at 17 18 28" src="https://user-images.githubusercontent.com/2397041/71546347-3b99f480-2996-11ea-9011-81dc11c26306.png">
@frankrousseau

[2019-12-28 16:58] frankrousseau commented on #216
Thx, it should be fixed in next release.

[2020-01-06 09:20] frankrousseau commented on #216
Does it work better after update?

[2020-01-06 09:20] #214 closed

[2020-01-06 09:20] #209 closed

[2020-01-06 09:20] #208 closed

[2020-01-07 05:45] krishme commented on #143
I have hosted zou locally for testing, I am having problem with emailing, went through the documentation but could not find the config file, could you please help me with this

[2020-01-07 07:49] ddesmond commented on #143
@krishme maybe this gist can help you out. https://gist.github.com/ddesmond/565802d4ba687c0c04a54246270d50b7

[2020-01-07 19:00] ddesmond commented on #216
Will update and send you feedback after testing.

[2020-01-09 12:33] Tilix4 opened #219 "Events handlers doesn't work"
I've followed this doc: https://zou.cg-wire.com/events/

I've created my own directory for events handlers in `zou.service`:

`Environment="EVENT_HANDLERS_FOLDER=/home/user/apps/zou/handlers" `

I've given the ownership to zou for this folder.
I've restarted zou service.

I've created the __init__py:

[code]

I've created a test.py:

[code]

I create a new asset, but it doesn't create my file.

_A

[2020-01-09 19:42] jasperges commented on #219
Going through the code of Zou, you can find [the function responsible for registering event handlers](https://github.com/cgwire/zou/blob/master/zou/app/api.py#L64):

[code]

As you can see it tries to import `event_handlers` after inserting your event handlers folder in the Python path. So in your event handlers folder you should create another folder (package) with the name `event_handlers` conta

[2020-01-09 20:43] Tilix4 commented on #219
Thanks for answering.

I've created an event_handlers folder. Moved my scripts in it, but it still doesn't work. It doesn't create the file.

[2020-01-09 22:09] frankrousseau commented on #219
 I improved the documentation. Does it make things clearer? https://zou.cg-wire.com/events/

[2020-01-10 09:25] Tilix4 commented on #219
It's more explicit but I still don't know where I can check the `current_app.logger.info("Event occured!")` output.
Also, with:
[code]
I still don't have any output file next to my _test.py_, even though I did eveything mentionned in the doc.

[2020-01-10 10:02] frankrousseau commented on #219
You should be able to find the output in `/opt/zou/logs/guincorn_access.log`. If it doesn't work you can try to log an error (current_app.logger.error("...") and look at /opt/zou/logs/guincorn_error.log`

[2020-01-10 11:51] Tilix4 commented on #219
I'm sorry Frank but I cannot display anything like this...

[2020-01-10 11:54] jasperges commented on #219
@frankrousseau Thanks for updating the documentation!

[2020-01-10 15:33] Tilix4 commented on #219
Okay, it finally works.
I found out that I didn't configure the jobs correctly and then it was causing trouble. (For now I disabled them)
Also, by default it was writing my _Output.txt_ file in `/opt/zou`.

After all, I had the error message in `/opt/zou/logs/gunicorn_error.log` printed by `current_app.logger.info("Event occured!")
`

[2020-01-10 15:33] #219 closed

[2020-01-10 15:36] frankrousseau commented on #219
Great because I had no idea of why it didn't work

[2020-01-16 09:50] Tilix4 opened #221 "Event Handlers: How do I install non native pip modules to be recognized by custom module?"
My `event_handlers` folder looks like:
-- __init__.py
-- hanlder.py
-- my_module

- __init__.py:
[code]

- handler.py:
[code]

Also, in my_module, I import non native modules from pip (like gazu or qarnot).

But it seems not loading, I don't have any message in `/opt/zou/logs/gunicorn_error.log` when I update a task. I should see the error message.

[2020-01-16 10:15] 0anion0 opened #222 "Error deleting user"
I need to delete the user. When deleting, an error occurs: "An error occured while deleting this person. There are probably data linked to it. Are you sure this person has no assignation or wrote no comment?"

ERROR:  update or delete on table "person" violates foreign key constraint "api_event_user_id_fkey" on table "api_event"
DETAIL:  Key (id)=(0e4bd876-8d7f-438b-abb7-368344aaecf3) is still ref

[2020-01-16 10:59] Tilix4 commented on #221
The question is:
How do I install non-native pip modules (qarnot and gazu) to be imported by my_module?

[2020-01-16 11:13] frankrousseau commented on #221
Hello @Tilix4,

You can run the following commands:

[code]

[2020-01-16 11:42] Tilix4 commented on #221
Hi @frankrousseau , I got a `permission denied`:
[code]

[2020-01-17 11:03] frankrousseau commented on #222
Thank you for reporting @0anion0.

[2020-01-17 11:04] frankrousseau commented on #221
Does it work with:

[code]

[2020-01-17 11:58] frankrousseau commented on #222
It should be fixed in next release.

[2020-02-07 06:39] ddesmond commented on #216
ive updated all to latest, html is working just fine! Will close the issue as resolved.
Thanks Frank and kitsu team :)

[2020-02-07 06:39] #216 closed

[2020-02-19 10:47] krishme opened #226 "Kitsu Not coming online"
Kitsu goes down after a system reboot and does not come online. I have started zou, zou-events, redis, nignx, postgresql. I am using Ubuntu 18.04 LTS
I get an error message as Kitsu encountered an error while reaching its data API.

Kindly help

[2020-02-19 11:32] frankrousseau commented on #226
Hello,

Can you provide us with the result of `curl http://localhost:5000/status` and with the content of `/var/log/zou/gunicorn_error.log`?

[2020-02-20 05:15] krishme commented on #226
Hi Frank
Thanks for your reply
http://localhost:5000/status
name | "Zou"
version | "0.11.23"
database-up | true
key-value-store-up | true
event-stream-up | true
gunicorn_error.log is located in /opt/zou/logs/ as per the installation which reads as attached screenshot
![Screenshot from 2020-02-20 10-44-46](https://user-images.githubusercontent.com/59594156/74903105-0a560780-53ce-11ea-8d6f-38653eac4

[2020-02-20 13:11] frankrousseau commented on #226
Is your Nginx server up?

[2020-02-27 06:47] krishme commented on #226
Sorry for the delay in reply, I was travelling.
yes nginx server is up and running, also i checked zou and zou-events both are running (active)

[2020-02-27 15:18] frankrousseau commented on #226
Can you send the exact error message you have?

[2020-02-28 09:48] pcharmoille opened #232 "relations parameter in get request"
Hello,

Zou allow to retrieve entities with or without serialized related entities (attributes declared as sqlalchemy `relationship`.
For example `outputs` in `WorkingFile` model.

Sometime we need to query entities with their relatations but there is no way to specify it.
Could we consider add a `with_relation` paramater to `get` requests to retrieve entites with or without their relations ?
Defa

[2020-02-28 09:52] frankrousseau commented on #232
Hello,

You can already do it with the `relations=true` flag (not sure it's documented):
https://github.com/cgwire/zou/blob/master/zou/app/blueprints/crud/base.py#L141

[2020-02-28 09:53] #222 closed

[2020-02-28 10:08] pcharmoille commented on #232
Cool ! But it does only works with base model right ?
If we wanted to get all the assets of a projet with their relations, we would have to use the `ProjectAssetsResource` and then query again the asset one by one with `relations` flag to True.

Could we consider something like this
[code]

It would be tedious to add for every custom get method but I could be done progressively.
Or we can keep the

[2020-02-28 11:50] krishme commented on #226
I am not getting any error messages when I check gunicorn_error.log(if any other error log file, please let me know, I'll check it) . I had to reinstall cuz we had a management presentation, but again it went down, and its in the same state, unable to fetch the url in the browser. all the services are up.

[2020-02-28 12:17] frankrousseau commented on #232
Yes it should be something like this. But I think that you cannot give query parameter this way. You have to rely on the `request.args` dict to retrieve the `relations` flag.

[2020-02-28 12:18] frankrousseau commented on #226
Yes but can you give me the browser error? It looks like it's an error in your proxy.

We can provide cloud trial instance too.

[2020-02-28 12:53] pcharmoille commented on #232
Ok, I am going to make a PR related to this issue then.

[2020-02-28 16:47] pcharmoille commented on #232
So this is what it would looks like :
Zou
[code]

Gazu
[code]

I am not 100% sure that this is the most efficient way to do it since it will ask us to add parameters in most of gazu and zou services methods.
There could be another way using a session attribute defined by the gazu client and use it in the `serialize_models` method as a default value.

Let me know what you think.

[2020-03-01 06:32] ddesmond commented on #226
Did you check your firewall setup? Worth investigating

[2020-03-04 07:15] krishme commented on #226
I checked the ufw status - disabled (inactive)

[2020-03-04 07:26] krishme commented on #226
Browser - Firefox getting error as below
Firefox can’t establish a connection to the server at localhost.

    The site could be temporarily unavailable or too busy. Try again in a few moments.
    If you are unable to load any pages, check your computer’s network connection.
    If your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.

[2020-03-04 07:28] krishme commented on #226
@frankrousseau
If our testing succeeds we are planning to do in-house hosting with some customization from CG-Wire

[2020-05-08 19:04] artofka opened #249 "Error while installing zou"
Here is python log:
[logZouInstall.txt](https://github.com/cgwire/zou/files/4601044/logZouInstall.txt)

[2020-05-08 20:28] frankrousseau commented on #249
Hello,

Thank you for your interest in Kitsu. What OS do you use for the installation?

[2020-05-08 21:21] artofka commented on #249
Thanks for response! Ubuntu 20.04 LTS

[2020-05-08 21:41] frankrousseau commented on #249
Ok sorry, but we don't do support for 20.04. We recommend you to install it on Ubuntu 18.04.

NB: The problem may be related to PIL library version. We'll upgrade it, it may fix your problem.

[2020-05-10 13:53] artofka commented on #249
For 18.04 all is fine. Thanks for response!

[2020-05-10 13:54] artofka opened #250 "Error after Deploying Kitsu"
Error:
![image](https://user-images.githubusercontent.com/28753260/81501078-f344f880-92de-11ea-9ade-51df0eede502.png)

[2020-05-10 17:09] frankrousseau commented on #250
It's because the server is not started. Can you tell us what there is in the log file `/opt/zou/logs/gunicorn_error.log`?

[2020-05-10 17:10] #249 closed

[2020-05-11 10:06] artofka commented on #250
Folder for logs is empty

[2020-05-11 14:45] artofka commented on #250
Also I getting 502 bad gateway while trying https://localhost/api

[2020-05-12 11:17] frankrousseau commented on #250
What does it say when you run `sudo service zou start`?

[2020-05-12 11:48] artofka commented on #250
Nothing

[2020-05-12 13:51] frankrousseau commented on #250
And `ps -ef | grep zou`?

[2020-05-12 16:52] artofka commented on #250
artem    150  1979  0 19:50 pts/0    00:00:00 grep --color=auto zou

[2020-05-14 14:45] artofka commented on #250
Problem is still actual

[2020-05-17 16:04] artofka commented on #250
re-installing from scratch was successful. Not having that issue now.

[2020-05-17 17:42] frankrousseau commented on #250
Ok great! I didn't have any idea of what was going wrong.

[2020-05-19 12:40] #250 closed

[2020-06-11 07:13] BigRoy commented on #152
Actually no I haven't. Haven't looked into it anymore.

[2020-06-22 06:42] OxB03 opened #265 "AttributeError: 'Person' object has no attribute 'present_mimimal'"
"/opt/zou/zouenv/lib/python3.6/site-packages/zou/app/blueprints/crud/person.py"

line 67: should be
             return instance.present_minimal()
not
             return instance.present_mimimal()

Apologies, don't know how to do pull requests yet, but thought this might help ...

[2020-06-22 08:07] frankrousseau commented on #265
Many thanks, that's useful!

[2020-06-22 08:08] frankrousseau commented on #265
It will be fixed in next release

[2020-07-08 16:06] ddesmond opened #267 "AttributeError: 'Person' object has no attribute 'serialize_without_info'`"
from log:
`ubuntu@ip-host:~$ tail -f /opt/zou/logs/gunicorn_error.log
  File "/opt/zou/zouenv/lib/python3.5/site-packages/flask_restful/__init__.py", line 573, in dispatch_request
    resp = meth(*args, **kwargs)
  File "/opt/zou/zouenv/lib/python3.5/site-packages/flask_jwt_extended/view_decorators.py", line 103, in wrapper
    return fn(*args, **kwargs)
  File "/opt/zou/zouenv/lib/python3.5/site-

[2020-07-08 16:10] frankrousseau commented on #267
Hi @ddesmond. Thank you for reporting. Please upgrade your Zou version. This problem was fixed in a recent release.

[2020-07-08 16:10] #267 closed

[2020-07-13 04:30] ddesmond commented on #267
solved with the update. thanks frank!

[2020-08-04 17:56] #265 closed

[2020-08-04 17:56] OxB03 commented on #265
Resolved

[2020-08-30 16:07] fsiddi opened #272 "ValueError: signal only works in main thread"
When getting zou up and running for the first time with the command (as mentioned in the docs)

[code]
 I get a `ValueError: signal only works in main thread` error when visiting `localhost:5000`.

A quick search mentions an [issue with Flask-SocketIO](https://stackoverflow.com/questions/53522052/flask-app-valueerror-signal-only-works-in-main-thread), but I'm not sure this is the cause or if the i

[2020-08-30 16:58] fsiddi opened #273 "PREVIEW_FOLDER default value"
In [the documentation](https://zou.cg-wire.com/configuration/), the value of `PREVIEW_FOLDER` is mentioned to be `/usr/local/share/zou/standard`, but looking at `config.py` I find this:

[code]

on macOS this leads to thumbnails not being saved:

[code]

After manually setting `PREVIEW_FOLDER` to an absolute path I was able to save previews correctly. I think it might be a good idea to clarify the

[2020-08-31 09:02] frankrousseau commented on #272
Hello @fsiddi,
The command you are using must be used only for development purposes. And as you noticed, there is an issue with flask-socketio. You can use `--no-reload` to avoid this error. I'm going to add a debug runner as suggested in the issue you mention.

[2020-08-31 09:49] frankrousseau commented on #273
Thank you @fsiddi. You're right the documentation is wrong. We are going to fix this. The default value is made for development environments, the preview folder is a `previews` subdirectory of your working environment.

[2020-09-01 09:13] frankrousseau commented on #272
I added a command for this

[code]

[2020-09-02 16:06] mathbou opened #275 "Mismatching values between shots/assets and entities path"
__Issue:__

When querying shots or assets with the REST api I get key with mismatching values. In the following example I queried a shot with the _shots_ and _entities_ path and I get a mismatch on the _type_ key and the _source_id_ key.
Also, I'm wondering if is it normal that the _source_id_ default value is the string "None" instead of a __null__ ?

__Examples:__

/api/data/shots
[code]

/api/d

[2020-09-03 13:58] frankrousseau commented on #275
Sorry, I don't understand what is wrong. Can you be more explicit?

[2020-09-04 10:40] mathbou commented on #275
When I query a shot, shouldn't I get `"type": "Shot"` for both queries? (from data/entities and data/shots). And same for the _source_id_, shouldn't it be `"source_id": null` for both cases?

[2020-09-21 10:24] #152 closed

[2020-09-21 10:27] #48 closed

[2020-09-21 10:27] #272 closed

[2020-09-21 10:28] frankrousseau commented on #273
Fixed

[2020-09-21 10:28] #273 closed

[2020-09-21 10:46] frankrousseau commented on #275
Ok for the `source_id` field. For the entity list, it's a bit more complicated to fix that. It it something important for you?

[2020-09-21 11:21] BigRoy commented on #48
For what it's worth, I always loved the flexibility and simplicity of how [Pyblish discovers plug-ins](https://github.com/pyblish/pyblish-base/blob/3290fd5b51b496d431cc2ca608639e21e727ccbd/pyblish/plugin.py#L1281-L1381). It's simple yet flexible enough to be usable across many different use cases.

Just inherit from Pyblish' `Plugin` class and put that `.py` somewhere on a path that `discover()` k

[2020-09-21 20:07] mathbou commented on #275
I have a workaround for now, but it implies to query the db 2 times instead of one.

[2020-09-22 22:18] flinfo opened #277 "Installation"
Hey there. This is not so much an issue as a lack of my understanding.

So as instructed, I leave postgres and exit virtualenv and am back as my user and are told to run this DB_PASSWORD command.
And my beginner understanding says this doesn't look like a command and when I enter it I get the expected:

Sorry, I know this is probably really dumb, but could you please instruct me on what to do here

[2020-09-24 10:26] frankrousseau commented on #277
A virtual environment is a copy of the Python executable. It has his own set of libraries which overrides the common set of Python libraries of your system when it is up. If you install libraries and binaries while being in the virtual environment (like zou) and then leave it. You cannot access to them anymore.
In other words, if you want to run zou commands, the virtualenv must be activated.

[2020-09-28 08:53] #277 closed

[2020-09-29 06:26] LarsCawley commented on #64
I am trying to follow the log rotation instruction, but I find that the pid files are not being created.  I am not sure if I am missing something.  I have added the following lines to the gunicorn-events.conf which gets me the dir when my system starts.
RuntimeDirectory=zou
ExecStartPre=+/usr/bin/chown zou: /var/run/zou

[2020-10-01 09:46] LarsCawley commented on #64
Ubuntu 20.04.01
Zou 0.12.5
Kitsu 0.12.2
I am trying to follow the log rotation instruction, but I find that the pid files are not being created. I am not sure if I am missing something. I have added the following lines to the gunicorn-events.conf which creates the dir when my system starts.
RuntimeDirectory=zou
ExecStartPre=+/usr/bin/chown zou: /var/run/zou

[2020-10-05 03:42] 0anion0 opened #282 "Errors appear when upgrading ZOU"
Hello, I need help.
Errors appear when upgrading ZOU

[code]

Tell me how to solve this problem.

[2020-10-05 08:25] frankrousseau commented on #282
Hello @0anion0. There are only warnings. It doesn't seem that the command fails.

[2020-10-06 11:34] piiq opened #283 "Password reset email is not being sent"
When I enter an email for password reset in the Kitsu interface I see the following in the logs:

Gunicorn
[code]

Nginx
[code]

Also I see the information about in the kitsu UI
![image](https://user-images.githubusercontent.com/11668535/95196206-6eec9800-07e0-11eb-833b-9a8318bd597c.png)

I conclude that the request for password reset email is made but the system doesn't react to it in any way.

[

[2020-10-06 18:26] frankrousseau commented on #283
I don't see anything wrong. Maybe that your email provider banned your email.

[2020-10-06 19:28] piiq commented on #283
The strange thing is that the registration emails (invitations) go through ok. Can you advice how to debug this?

[2020-10-07 07:32] frankrousseau commented on #283
Like I said, sometimes email providers, like Mailgun, ban some emails. It seems to be the case here. Your team emails are not blacklisted while yours is. All email providers give you access to some kind of logs. You should look on this side prior to investigating further into Zou.

[2020-10-07 07:33] frankrousseau commented on #232
Too old issue. Let's close it.

[2020-10-07 07:33] #232 closed

[2020-10-07 07:34] frankrousseau commented on #64
This problem is not related to zou. It's more related to a configuration in the system. I reopened the issue in case someone has an answer.

[2020-10-07 07:36] frankrousseau commented on #64
This stackoverflow question may help you:

[code]

[2020-10-10 16:10] mathbou commented on #152
Hey guys, I recently encountered the same problem, and I found a way to manage this. It's kind of dark magic but it works well.
The process relies on the fact that Kitsu stores the access token as a browser cookie. Knowing that we can use the module [browser-cookie3](https://pypi.org/project/browser-cookie3) to get it from chrome or firefox. For python2 there is a fork of [browsercookie](https://g

[2020-10-10 17:28] frankrousseau commented on #152
Awesome! could you add this somewhere in the Gazu documentation?

[2020-10-13 08:58] piiq commented on #283
This has not been resolved for me, but I will close this for now as the problem is not urgent and we found a solution by setting the default password for a user with `zou set_default_password user@email`

[2020-10-17 16:56] mathbou commented on #282
@frankrousseau I made some research about those warnings and according to this [StackOverflow topic](https://stackoverflow.com/a/64038112), and the attached [issue](https://github.com/gevent/gevent/issues/1260), they seem to come from an incompatibility between gevent and gunicorn versions.

With the current setup.py, my docker images are stuck starting workers again and again, but I made a try wi

[2020-10-19 11:16] mathbou commented on #282
An Interresting thing, I tried to force the pip --non-binary flag  for gevent, gunicorn and greenlet during the build of my zou image and it works again

[2020-10-19 16:46] piiq commented on #283
@frankrousseau I've done some debugging on this issue. It appears that if MAIL_DEBUG environment variable is set to anything apart from `False` it triggers the mail debug mode. The mail debug mode blocks password reset and notification emails from being sent.
I was a bit confused by this. In the documentation it says
`MAIL_DEBUG (default: "0"): set 1 if you are in a development environment (emails

[2020-10-19 23:13] LarsCawley commented on #64
I have mine working now.  If it can help others I have made some edits [in this docs update](https://github.com/cgwire/zou/pull/285)

[2020-10-20 05:15] DuanXu-anim opened #286 "Can't add tasks for shots"
![image](https://user-images.githubusercontent.com/48669854/96543139-4e3f3a80-12d6-11eb-8eba-9349fa7a8aac.png)
It's a bug or something else?

[2020-10-20 05:24] DuanXu-anim commented on #286
<img width="317" alt="1" src="https://user-images.githubusercontent.com/48669854/96543729-9579fb00-12d7-11eb-9241-23fd8abfac9c.png">

[2020-10-20 05:30] DuanXu-anim commented on #286
[2020-10-20 13:19:27,200] ERROR in __init__: Traceback (most recent call last):
  File "/data/zou/zouenv/lib/python3.6/site-packages/flask/app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "/data/zou/zouenv/lib/python3.6/site-packages/flask/app.py", line 1925, in dispatch_request
    self.raise_routing_exception(req)
  File "/data/zou/zouenv/lib/python3.6/site-pa

[2020-10-20 05:36] DuanXu-anim commented on #286
I paste the error log about this issue.

[2020-10-20 07:56] frankrousseau commented on #286
Hello @DuanXu-anim,

You need to update both frontend and backend. Make sure that your navigator cache is cleaned too (ctrl+F5).

[2020-10-20 08:02] frankrousseau commented on #64
Ok, let's say it's a solved problem. Thank you @LarsCawley!

[2020-10-20 08:02] #64 closed

[2020-10-20 11:36] DuanXu-anim commented on #286
got it, thank you !

[2020-10-20 11:36] #286 closed

[2020-10-28 22:03] flinfo commented on #283
Just a note that probably doesn't affect your situation but might be helpful to others, is I had install ssmtp and exim4.

[2020-10-30 09:15] frankrousseau commented on #283
The `MAIL_DEBUG` issue should be fixed. Can you try again?

[2020-10-30 15:33] frankrousseau commented on #282
I upgrade Gunicorn and Gevent library versions. Does it fix the probleme?

[2020-10-30 15:34] frankrousseau commented on #275
It should be fixed in latest version. Can you try it?

[2020-10-30 16:10] mathbou commented on #282
It looks like it does yes, thanks

[2020-11-03 22:26] #282 closed

[2020-11-04 10:19] kmarcinowski opened #291 "FFMPEG Normalization error"
Hello,
I'm facing some issues while uploading video files mov / mp4 .h264 - file size is not an issue, tested 600KB and 20MB.
I can not find where ffmpeg stderr is located - here's gunicorn_error.log I have after upload:
`[2020-11-04 05:01:36,445] ERROR in resources: ffmpeg error (see stderr output for detail)
Traceback (most recent call last):
  File "/opt/zou/zouenv/lib/python3.5/site-packages/z

[2020-11-05 12:03] kmarcinowski commented on #291
Figured that ffmpeg probably is wrong, updated and it's working great.

[2020-11-05 12:03] #291 closed

[2020-11-05 13:27] frankrousseau commented on #291
Ok great. I had no idea about what was wrong.

[2020-11-15 19:24] ninglesby opened #294 "s3 backend us-east-1 boto3 workaround"
Hey I just started playing around with zou, and it is great! I found a little bug that is pretty easy to fix. I have never done a PR before, is this something I should do or is it small enough that it would be easier for someone else to take care of?

I was getting a LocationConstraint Error when trying to use s3. I found this [Boto3 Issue](https://github.com/boto/boto3/issues/125) , which seems t

[2020-11-15 21:38] #283 closed

[2020-11-15 21:39] frankrousseau commented on #294
Hello @ninglesby,

Thank you for the information. And yes the best is that you make a PR to fix this problem.

[2020-11-16 11:27] Aderemi-Adesada opened #295 "event_handlers not working"
i havent been able to get my event handler to work. it crashes zou
it keeps throwing the error below
`[2020-11-16 12:09:19 +0100] [14752] [ERROR] Exception in worker process
Traceback (most recent call last):
  File "/opt/zou/zouenv/lib/python3.8/site-packages/gunicorn/arbiter.py", line 583, in spawn_worker
    worker.init_process()
  File "/opt/zou/zouenv/lib/python3.8/site-packages/gunicorn/work

[2020-11-16 14:52] frankrousseau commented on #295
Did you configure properly the `event_handlers` path?

[2020-11-16 17:21] Aderemi-Adesada commented on #295
i used the default
`/opt/zou/plugins`

[2020-11-16 17:46] frankrousseau commented on #295
Try to not use the default value: https://zou.cg-wire.com/events/#define-a-location-for-your-event-handlers

[2020-11-16 18:21] Aderemi-Adesada commented on #295
it is still not working
i created EVENT_HANDLERS_FOLDER variable
`Environment="EVENT_HANDLERS_FOLDER=/home/asuna/test"`
/home/asuna/test containers my event handler module which i named event_handlers

This is how my folder look like:

ls /home/asuna/test/event_handlers
__init__.py
asset_new.py

[2020-12-16 15:25] mathbou opened #299 "Some event names are capitalized"
**Issue:**

Some events have their name starting with a capital letter. At least all update events are in this case ("Asset:update" instead of "asset:update").

Here is a snippet to test it through gazu:

<details>

[code]

</details>

Cg-Wire: Kitsu 0.12.32 // Zou 0.12.26

[2020-12-16 16:38] frankrousseau commented on #299
Ok thank you for reporting.

[2020-12-21 15:29] frankrousseau commented on #299
It should be fixed. Can you try again?

[2020-12-21 15:31] frankrousseau commented on #295
Hello @Aderemi-Adesada did you manage to make it work?

[2020-12-22 06:30] Aderemi-Adesada commented on #295
no, I am not sure what I was doing wrong. I am handling the events externally for now. thanks for the support 👍

[2020-12-22 06:30] #295 closed

[2020-12-22 19:08] mathbou commented on #299
Yep, it's working, thanks 👍

[2020-12-22 19:08] #299 closed

[2021-01-04 20:28] Shayen opened #301 "Slack Notification is not working"
Hi,
It seems like Slack Notification is not working even I set **SLACK NOTIFICATION ENABLED** to _**Yes**_ and Slack Username is also collected.

Zou 0.12.30

[2021-01-05 09:36] frankrousseau commented on #301
Hello Shayen did you register your app properly in the admin part?

https://kitsu.cg-wire.com/slack/

[2021-01-05 17:25] Shayen commented on #301
Yes, I have done every step in the guide.
Is it because I'm using the docker version?

it looks like Python3 is used in the docker file but [chats.py](https://github.com/cgwire/zou/blob/master/zou/app/utils/chats.py) still call the slack module from Python 2 version.

[2021-01-05 18:54] frankrousseau commented on #301
Yes, the Python 3 version requires a late version of Python 3 which would break many installations.

[2021-01-05 18:55] frankrousseau commented on #301
Sometimes it comes from the fact that you don't have chosen the right user name. It's the nick handle, not the displayed user name that must be used.

[2021-01-06 02:21] Shayen commented on #301
I'm totally sure that I use the collect display name, since the notification function is working properly when I ran it separately.

btw, What is the Python version is officially commended for Zou?

[2021-01-06 15:56] frankrousseau commented on #301
Python 3 or superior. I think the v3 of Slack requires 3.6 or 3.8. But Ubuntu 18.04 comes with 3.5 by default.

[2021-01-07 11:11] fananimi opened #303 "RuntimeError occurred when running event"
Well, I just run the event server with the following commands:

[code]

And then I run the frontend application. After the established connection between the frontend and backend, I found the following error.

[code]

Here my local environment:

Python: 3.8.5
Nodejs: v14.15.4

[2021-01-07 11:23] frankrousseau commented on #303
Hi @fananimi, you should use the following command line:

[code]

[2021-01-07 11:35] fananimi commented on #303
Thanks @frankrousseau , it's cool and running well now.

[2021-01-07 11:35] #303 closed

[2021-01-17 14:47] fananimi opened #305 "Improving Test Mechanism"
Current test mechanism take too long time.  In my experience, it takes 4 hours to finish the test script.

Here my command line:

`DB_PASSWORD=xxx DB_DATABASE=zoutest py.test`

Here the time results.

[code]

I proposed new mechanism or improvement test by using `mock` or trying another library such as [pytest-flask-sqlalchemy](https://pypi.org/project/pytest-flask-sqlalchemy/).

Here might be som

[2021-01-22 16:33] m-dijk opened #308 "Notifications need page refresh"
Context:
Install Zou "0.12.30" / kistu "0.12.35" on Ubuntu 18.04.5 LTS
I've followed installation instruction on https://zou.cg-wire.com
http://srvkitsu/socket.io returns JSON {"name":"Zou Event stream"}

Problem:
Assigning a task to a user is working great, but the user doesn't get notifications. He has to refresh the page (F5) to see his recently assigned tasks. We encounter the same problem whi

[2021-02-24 09:17] fananimi opened #324 "Dependency Conflict"
Hi, I just install through the following command:

`python3 setup.py install`

An error is occurred due to dependencies version conflict.

[code]

[2021-02-24 09:20] frankrousseau commented on #324
Ok. Thank you for notifying us! We will fix that for the next release. Because you're in development mode, you can bypass this by modifying the request version is the `setup.cfg` file.

[2021-02-25 11:58] dee909 opened #325 "Concurrent annotation edit conflict"
If two users are adding or removing playlist annotations on the same asset/shot at the same time, on of them will lose its modifications.

Repro:
- log as User1 and load Asset1 preview in any playlist
- log as User2 from somewhere else (tested with icognito on chrome) and load the same Asset1 preview in any playlist
- User1 draws a square
- User2 draws a star
- User1 leaves the playlist (loading a

[2021-02-25 13:42] frankrousseau commented on #325
Thank you for reporting. It's a complex case, not sure we can really fix this (or maybe that we should add a lock system) but at least we will have something it recorded here.

[2021-02-25 14:34] dee909 commented on #325
It's indeed complex and I do agree a lock wouldn't be a good UX.

Seeing [this](https://github.com/cgwire/zou/blob/0ce2508f7d85adf0c8986d8aa7c9832f237afe32/zou/app/models/preview_file.py#L33) you probably store annotation data in a serialized python object.
If that's the case, an option could be to store annotations per user: `{userId:annotation_data, userId:annotation_data}`

This would cost a re

[2021-02-25 15:19] frankrousseau commented on #325
Yep attaching annotations to a user id could help to fix that. Thank you for the suggestion

[2021-02-25 15:22] dee909 commented on #325
You're welcome.

[2021-02-26 18:06] fananimi opened #326 "Possibilities to asynchronous ffmpeg process"
I have uploaded a 20Mb video in the comment section and it looks  `ffmpeg` takes a long time until my request is timeout.  My temporary solution is increasing the timeout settings on the nginx, but I think it is not a good solution.

One of good solution is make the `ffmpeg`  process is doing in the background or async process I mean.

This is just my opinion, maybe another person has another poin

[2021-03-01 11:39] frankrousseau commented on #294
I made the fix. Can you confirm that it works?

[2021-03-01 11:40] frankrousseau commented on #324
It should be fixed. Can you try again?

[2021-03-01 11:40] frankrousseau commented on #308
Hello @m-dijk

It seems to be a problem with your event server. It looks like the application can't connect to it. Can you verify your Nginx configuration?

[2021-03-01 11:42] frankrousseau commented on #326
Thank you for mentioning this subject.

You can already do that by setting up the job queue. It requires more work for configuration but it works: https://zou.cg-wire.com/jobs/

[2021-03-01 15:38] ninglesby commented on #294
It works, Thanks!

[2021-03-01 15:38] #294 closed

[2021-03-04 08:16] 2-REC commented on #308
Hello @frankrousseau

I encounter the same issue with the page not refreshing automatically the notifications.
I have followed different ways of installing Zou+Kitsu, but have the same issue with all.

About the Nginx configuration, I tried both the one provided in the Zou installation doc (on CG-Wire website), as well as the configuration used in the Docker image (from the Kistu Docker Github).
(

[2021-03-04 16:23] frankrousseau commented on #308
This is the configuration we use on our servers, if it can help:

[code]

[2021-03-04 16:39] imhotep93 opened #328 "Connexion LDAP AD impossible sur AD Samba en NTLM"
Bonjour,

Il semble qu'on ne puisse pas ce connecter en NTLM avec la lib ldap3 sur un Active Directory Samba4.

Il faut passer par une authentification SIMPLE en SSL.

Guillaume

[2021-03-04 19:10] frankrousseau commented on #328
FIxed by your PR!

[2021-03-04 19:10] #328 closed

[2021-03-04 19:10] #326 closed

[2021-03-04 19:10] #324 closed

[2021-03-05 10:25] m-dijk commented on #308
Hi @frankrousseau,

Thanks for sharing your configuration file, but it didn't help..
On page load, Kitsu make several GET request to URL like http://srvkitsu/socket.io/?EIO=3&transport=polling&t=NW1fLLJ which all return _200 OK_ so there is no connection problem between kitsu an socket.io.. After each GET request Kitsu also make POST request with payload _1:1_. Those POST request are also returnin

[2021-03-09 13:44] clarkjohn2989 opened #330 "This Preview is broken"
There is an error in preview uploading after i updated from version 0.12.40 to 0.12.51
ffmpeg in zou accepting mp4 files without any problem, but MOV extenstion is giving error in encoding and show error in kitsu web ui that preview is broken

[2021-03-09 14:48] fananimi commented on #324
Thanks @frankrousseau , I will test soon.

[2021-03-10 19:38] fananimi commented on #324
Hi @frankrousseau,

I have a similar issue right now. Please find bellow:

![Selection_053](https://user-images.githubusercontent.com/497424/110687069-b2758300-8212-11eb-8127-13f0a060f3a5.png)

And here how I solve it:

![Selection_054](https://user-images.githubusercontent.com/497424/110687143-c7521680-8212-11eb-96e7-7f96530bf923.png)

Thanks.

[2021-03-10 19:45] fananimi opened #333 "Dependency Conflict"
The issue is related to the previous issue https://github.com/cgwire/zou/issues/324#issuecomment-795971301.

Thanks.

[2021-03-12 01:46] LarsCawley commented on #330
@clarkjohn2989 do your movs have no soundtrack?  Try adding a soundtrack, as a workaround for now.  Adding a silent wav works for me while we wait for news.

[2021-03-12 14:42] frankrousseau commented on #330
I think it's fixed. Can you update and try again?

[2021-03-18 09:20] fireflycg opened #334 "cgwire/kitsu How to take backup I need"
Hello , i need to transfer my kitsuprojectdata to a new system to take backup & restore could you please explain how to take postgresql backup and preview folder please explain step by step

[2021-03-18 19:24] frankrousseau commented on #334
You can get the database with the following command:

[code]

The preview folder must be fully copied in your backup folder.

To restore everything, you need to load the dump in your Postgres instance and copy the preview folder so the new location.

[2021-03-19 10:02] fireflycg commented on #334
Hi, Thank for your quick response on my issue , I have taken zou dump_database backup and preview folder old database  . how to restore  zou database in  new location database please send any link for restore it will be needful

[2021-03-22 23:23] frankrousseau commented on #334
I added a backup section to the documentation

[2021-03-22 23:23] frankrousseau commented on #334
https://zou.cg-wire.com/backup/

[2021-03-23 10:48] fireflycg commented on #334
Hi, Thank for your time & suggestion, I had taken zou dump_database backup file format is getting 2021-03-23-zou-db-backup.dump  while pg_restore getting error is ( input file appears to be a text format dump. please use psql.)

I am not getting this format : The generated file name will follow this format: 2021-03-21-zou-db-backup.sql.gz

[2021-03-23 12:25] frankrousseau commented on #334
Please update Zou before trying to use the tutorial.

[2021-03-24 23:33] vNicolini opened #336 "Zou installation on Fedora Server 32"
Hi,

i'm trying to get Zou/kitsu running from my server box (instead of current Ubuntu VM) and i'm hitting a wall when trying to initialize the DB for the first time. Everything is up to date, running psql 9.5.25 and py3.6 (same as my linux VM).

Is that an error on the user end, did i miss some stuff/version/dependencies ?
[code]

[2021-03-25 09:24] frankrousseau commented on #336
It seems that the default user on your Posgtres installation is not Postgres. You should dig in this direction.

NB: We don't do support for Fedora, so I don't know what could be wrong.

[2021-03-26 16:53] #330 closed

[2021-03-26 17:23] mathbou opened #338 "Project models can be accessed by any user through REST api"
Issue:

Project datas can be queried by any user by using query strings. The problem occurs regardless of the permission level.

`kitsu.local/api/data/projects/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX` returns a permission error as intended

`kitsu.local/api/data/projects?id=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX` returns the project

Cg-Wire version: Kitsu 0.12.57 // Zou 0.12.57

[2021-03-26 17:31] frankrousseau commented on #338
Thank you for reporting.
I had to rewrite the title of the issue. Because it was confusing and could create misunderstanding.

[2021-03-27 04:50] fireflycg commented on #334
Hi Sir,
After updating zou The file format comes
2021-03-26-zou-db-backup.sql.gz,but when i restore with pg_restore -h
192.168.1.134 -p 5432 -U postgres -d targetdb 2021-03-26-zou-db-backup.sql
pg_restore: error: input file appears to be a text format dump. Please use
psql. this error coming

On Tue, Mar 23, 2021 at 5:56 PM Frank Rousseau ***@***.***>
wrote:

[2021-03-27 05:08] fireflycg commented on #334
Hi Sir,
After updating zou The file format comes
2021-03-26-zou-db-backup.sql.gz,but when i restore with pg_restore -h
CGWIRE -p 5432 -U postgres -d targetdb 2021-03-26-zou-db-backup.sql
pg_restore: error: input file appears to be a text format dump. Please use
psql. this error coming

On Sat, Mar 27, 2021 at 10:20 AM firefly it ***@***.***> wrote:

[2021-03-29 13:11] #275 closed

[2021-03-30 12:00] frankrousseau commented on #334
Can you try to use `psql` instead of `pg_restore`?

[2021-04-01 09:01] fireflycg commented on #334
Hi,
I have used with psql for pg_restore but how should i switch database to zoudb to targetdb after restore i am unable to view my backup after login into kitsu

[2021-04-01 09:15] frankrousseau commented on #334
All environment variables needed to configure the database are listed there:

https://zou.cg-wire.com/configuration/

[2021-04-06 09:29] sudhakargoud opened #340 "Cg Wire Kitsu"
Hi Sir,
I have dump zou data_base backup,i got backup  2021-04-05-zou-db-backup.sql.gz format,,how to restore in new system with psql command can you please share step by step it will be helpfull
Thank you

[2021-04-06 10:02] #336 closed

[2021-04-06 20:48] stephRipe opened #341 "Can't create project on a fresh installation of Kitsu with Chrome"
Hello,
I've tried to create a project with Chrome and I've got this feedbacks:
"An error occurred while editing production. Please contact our support team."
Logs :2021-03-28 22:47:38NEWproject
user
SA
Super Admin
project_id 0d7f067b-a045-4882-9284-82483338ddc8

Then I've made a request on Zou with Gazu and I've got the list of the projects that I've tried to create previously.

So I've logged to

[2021-04-15 07:05] sudhakargoud opened #342 "cgwire-Kitsu"
Hi kitsu,  In Time sheet  how to enable weekends (Saturday,Sunday )

[2021-04-19 21:09] frankrousseau commented on #333
I think it's fixed. Please, reopen this ticket if that is not the case.

[2021-04-19 21:09] #333 closed

[2021-04-19 21:10] #334 closed

[2021-04-19 21:11] frankrousseau commented on #334
You should restore directly to `zoudb` instead of `targetdb`. Elsewhere, you have to use the environment variable to use `targetdb` instead of default `zoudb`.

[2021-04-20 12:51] sudhakargoud commented on #342
Hi kitsu, In Time sheet how to enable weekends (Saturday,Sunday ) @frankrousseau please address this

[2021-04-20 15:49] frankrousseau commented on #342
Hello @sudhakargoud,
You can alreday set time in timesheets during the weekend.

[2021-04-20 15:50] frankrousseau commented on #342
And please write a proper title, it will make things clearer for the community.

[2021-05-06 12:41] DasPriester commented on #116
I have the same prompt! How exactly did you fix this?

[2021-05-06 13:10] frankrousseau commented on #116
It just means that Zou is not running. See this section for help: https://zou.cg-wire.com/troubleshooting/

[2021-05-06 13:31] frankrousseau commented on #338
It should be fixed. Can you try again?

[2021-05-06 13:32] frankrousseau commented on #341
Sorry, I can't reproduce your bug. Please verify that your installation is properly running by accessing this URL : `http://localhost:5000/api/status` and see if you find an answer in the troubleshooting section: https://zou.cg-wire.com/troubleshooting/

[2021-05-06 13:38] DasPriester commented on #116
I've done that already... But I cant find any solution there

[2021-05-06 13:53] #342 closed

[2021-05-06 13:55] frankrousseau commented on #116
The thing is that you don't give enough information. You are just saying "it doesn't work" while it's running properly on dozens of installation. So, if you want help you have to tell us more about your setup and the error messages you get (especially the ones in `/opt/zou/gunicorn_error.log`)

[2021-05-06 14:12] DasPriester commented on #116
Oh. Sorry.
I seem to be unable to run the init_data command.
I get the following error: "psycopg2.errors.UndefinedTable: relation "project_status" does not exist"

[2021-05-06 15:11] frankrousseau commented on #116
Do you use the right environment variable? Did you run `DB_PASSWORD=yourdbpassword zou upgrade_db`?

[2021-05-06 15:16] DasPriester commented on #116
Yes... I've tried with and without, but init does not want to run properly. I still egt the error from above about project_status not existing

[2021-05-06 15:27] frankrousseau commented on #116
It means that your database is not properly configured. Please run the installation again from scratch on an Ubuntu distribution and make sure that you don't have any error message while setting up the database.

[2021-05-11 16:26] tpolson opened #345 "database not up"
I have run through the install process on Ubuntu 20.  I believe everything is working except connecting to the database.

API status

name | "Zou"
-- | --
version | "0.12.70"
database-up | false
key-value-store-up | true
event-stream-up | true
job-queue-up | false

You have a brief section on configuration, but I am not clear which file to add the database and email config info.  Is that the /etc/

[2021-05-11 16:49] frankrousseau commented on #345
Yes, you should add the variables to the `zou.service` file.

[2021-05-24 15:50] frankrousseau commented on #345
I close this due to inactivity.

[2021-05-24 15:50] #345 closed

[2021-05-28 08:04] flablog opened #351 "Can't login (with ldap): KeyError: 'password'"
After our last update, user where experiencing issues while trying to connect to our instance. The instance is connected to a ldap.
The error was :
[code]
I fix it temporary, allowing users to connect, doing a try except to this line :
https://github.com/cgwire/zou/blob/812a9e4c3ff4eb190251cb7938e9137ec04150e2/zou/app/blueprints/auth/resources.py#L187

I don't know if it the better thing to do, bu

[2021-06-02 10:20] aixzhou0216 opened #353 "This preview is broken"
I uploaded some videos,whatever mp4 or mov,showing this error
![image](https://user-images.githubusercontent.com/82997546/120463658-b73f7280-c3ce-11eb-97ed-bed14341dcc2.png)
I checked gunicorn_error.log
`[2021-06-02 17:55:15,605] ERROR in preview_files_service: b"ffmpeg version 2.8.17-0ubuntu0.1 Copyright (c) 2000-2020 the FFmpeg developers\n  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.12)

[2021-06-03 02:33] aixzhou0216 commented on #353
Use these commands
`sudo add-apt-repository ppa:jonathonf/ffmpeg-4`
`sudo apt-get update`
`sudo apt-get install ffmpeg`
works for me.

[2021-06-03 02:33] #353 closed

[2021-06-03 08:46] fsiddi opened #354 "Push updated docs to zou.cg-wire.com"
It looks like the latest version of the zou docs were not pushed to https://zou.cg-wire.com/api/.
Pushing the updated docs would prevent confusion as the API paths in the doc examples are currently incorrect (possibly outdated).

[2021-06-03 09:17] frankrousseau commented on #354
Mmm, it's just that we don't really maintain this section. I would like to use a doc generator for the API. But I haven't found the time to implement it.

[2021-06-03 09:20] fsiddi commented on #354
Would making a GH automation help? This should be pretty straight forward nowadays. If it's a matter of writing a GH action that builds the docs and pushes them to the server I can help out.

[2021-06-03 09:23] frankrousseau commented on #354
The documentation is already deployed on any change. But the API section hasn't been updated for a while.

[2021-06-03 09:24] frankrousseau commented on #354
There is a Netlify integration.

[2021-06-03 09:27] fsiddi commented on #354
Just to be clearer on the issue I'm experiencing:

* Visit https://zou.cg-wire.com/api/
* Click *Edit on Zou*
* You'll load https://github.com/cgwire/zou/edit/docs/docs/api.md, whose content is different than what you can see on the site

If the docs are deployed on change, how can the page in production not match the source?

[2021-06-03 15:29] frankrousseau commented on #354
Ok we had problems with the deployment. It should be fixed now.

[2021-06-03 16:43] fsiddi commented on #354
Fantastic, thanks a lot!

[2021-06-03 16:43] #354 closed

[2021-06-10 09:59] kguyaux opened #356 "Cannot upgrade zou because "zou upgrade_db" crashes."
Helle everybody,
when trying to upgrade zou, the `zou upgrade_db`-command, results in an error:
[code]
Is there a possible fix for this?

[2021-06-10 10:09] frankrousseau commented on #356
Try to run this script on your instance (assuming that Gazu has already log in your instance and that you retrieved a given project) :

[code]

[2021-06-10 10:09] frankrousseau commented on #356
Then run the upgrade command again

[2021-06-10 10:10] frankrousseau commented on #351
The problem should be fixed. Can you try again?

[2021-06-10 14:02] #338 closed

[2021-06-14 08:09] kguyaux commented on #356
Thanks Frank!
Unfortunately I have to first work on my schedule to try the solution, but I would like to thank already :-)
I'll keep posted about the results(probably next wednesday)

[2021-06-22 13:01] #341 closed

[2021-06-22 13:02] frankrousseau commented on #308
If you have 200 status code, it means that everything is working fine.

[2021-06-22 13:03] frankrousseau commented on #308
@2-REC The problem seems to be on your side. With the latest version everything seems to work fine.

[2021-07-13 10:12] dinhthang1987 opened #358 "Build movie in playlist, total frame more than 1"
Movie after build will more than 1 frame , frame duplicate at first movie

[2021-07-21 13:37] LedruRollin opened #359 "Possible data desync between Kitsu UI and web API"
Hi !

We encountered a bug involving a playlist. In the Kitsu UI, the playlist has 11 distinct shots. However on the web API side (.../api/data/playlists/<playlist_id>), it contains 15 shots. See the actual result of the request : [wrong_playlist.txt](https://github.com/cgwire/zou/files/6855754/wrong_playlist.txt) ; the 4 additional shots are actually duplicates of the first four shots of the play

[2021-08-09 02:38] Animatect opened #364 ""job-queue-up": false"
Hi, when I run http://localhost/api/status I get:
{
  "name": "Zou",
  "version": "0.13.2",
  "database-up": true,
  "key-value-store-up": true,
  "event-stream-up": true,
  "job-queue-up": false
}
I know it has to do with zou-rq service but I really don't know how to get it up, I think this is related to why I can't send mails from kitsu, because as far as I've tested I can create users, shots, e

[2021-08-10 03:48] dinhthang1987 opened #366 "Playlist movie build error when many movie in playlist (than 20 movie)"
I have a problem not build movie when playlist have many movie (than 20)

[2021-08-10 03:49] #358 closed

[2021-08-10 05:34] frankrousseau commented on #366
Hello @dinhthang1987,
Playlist building requires a lot of resources. You need a strong hardware to build them.

[2021-08-10 09:57] frankrousseau commented on #364
Hello Animatect,
To set up the job queue you can refer to the documentation but it's not mandatory to make Kitsu working: https://zou.cg-wire.com/jobs.html
For your email problem make sure that your email provider doesn't block them.

[2021-08-10 14:43] Animatect commented on #364
I'll take a look tonight, thanks so much!

[2021-08-11 06:46] Animatect commented on #364
Hey Frank, You were dead on about the email problem, it is working great now, thank you so much.
I also got the jobs service running, thank you for this too, I would like to add a small note, I think it might be evident but on the documentation for jobs which is really well laid out I would at the end add that is necessary to start the service.

sudo service zou-jobs start

one last question just

[2021-08-11 17:31] frankrousseau commented on #364
Can you contribute to the documentation?

Yes it is.

[2021-08-14 23:49] Animatect commented on #364
Hey frank, I did a pull request with the changes, I got mixed up and didn't change the name, sorry it should be called "Patch 1"

[2021-09-01 13:56] m-dijk commented on #308
Hi ! I finally found the reason why some of us are facing this issue. It looks like zou-event is forced to use an Ident connection to Postgres, while zou is not..
For people who have been following the installation instruction the solution is to edit pg_ident.conf and add a map for the user _zou_ (on ubuntu you find this file in /etc/postgresql/_version_number_/main/pg_ident.conf). Like this :
[co

[2021-09-01 13:56] #308 closed

[2021-09-02 20:07] frankrousseau commented on #308
Wow that's very interesting. Especially because `zou-events` doesn't use Postgres. Thank you for the report. The error should be more explicit too.

[2021-09-02 21:04] m-dijk commented on #308
OK, that's weird indeed.

In the documentation it's also missing the part with the SECRET_KEY env var
in the gunicorn event conf file (the secret key that is set in the zou
gunicorn conf).

I'm pretty sure I set it in my first setup, but if it can't be related to
postgres then it could be another lead..

Marc

Le jeu. 2 sept. 2021 à 22:07, Frank Rousseau ***@***.***> a
écrit :

[2021-09-11 04:20] ddesmond opened #373 "Zou Upgrade crashes with routes error"
Hey Frank!

im trying to update kitsu instance from 0.12.27 to latest, and this hapens:

`DB_PASSWORD=XXXXXXX zou upgrade_db
Traceback (most recent call last):
  File "/opt/zou/zouenv/bin/zou", line 5, in <module>
    from zou.cli import cli
  File "/opt/zou/zouenv/lib/python3.5/site-packages/zou/cli.py", line 9, in <module>
    from zou.app.utils import dbhelpers, auth, commands
  File "/opt/zou/

[2021-09-11 08:33] frankrousseau commented on #373
Hello @ddesmond, I think it's because there are a files in `event_handlers` folder. Can you try to add a `routes = []` variable into it?

[2021-09-11 08:47] ddesmond commented on #373
Where should i add that? in the api.py?

[2021-09-11 10:39] frankrousseau commented on #373
Can you try to remove the the folder or to add the variable `name = 'empty'`?

[2021-09-11 13:47] ddesmond commented on #373
Removing event_handlers directory did the trick. It seems i can log back in. Thanks Frank!
ps. Kitsu us now on 0.13.6 ! woohoo

[2021-09-11 13:47] #373 closed

[2021-09-14 08:59] #366 closed

[2021-09-14 09:05] frankrousseau commented on #364
Great, thank you!

[2021-09-14 09:05] #364 closed

[2021-09-14 09:05] #356 closed

[2021-09-14 09:07] frankrousseau commented on #325
Hello @dee909, we revamped the way annotations are stored. We now put an ID on every object and only saves the diff with previous annotations when a user does changes. It generates much fewer conflicts.

[2021-09-14 09:49] frankrousseau opened #376 "Move modules outside the app module"
Requiring a module located inside the `app` module runs all the configuration sequences. The result is that `zou-events` require a Postgres connection while it is not using it.

Modules that should be extracted: `config`, `utils`.

[2021-09-14 19:38] dee909 commented on #325
Awesome !
Good Game guys :)

Le mar. 14 sept. 2021 11:07, Frank Rousseau ***@***.***> a
écrit :

[2021-09-21 09:21] #325 closed

[2021-09-28 23:06] johhnry opened #381 "type object 'PreviewFile' has no attribute 'filter_by'"
Hi,

If I make a GET request to `/api/data/tasks/{taskId}/previews` (where `taskId` is a valid id), I get the following response:

[code]

The route is not listed in the documentation but if it's not valid it should return a 404 not found isn't it?

[2021-09-29 08:11] frankrousseau commented on #381
Hello @johhnry, it's a bug on the server side. We'll fix that in the next release. Thank you for the report!

[2021-10-09 18:09] johhnry opened #385 "Explicitly setting the SameSite cookie attribute to Lax"
I am developing a front end application that uses the authentication system of Zou in order to display account restricted pages and data.

To do that, I make a request to `/api/auth/login` and it sets the `access_token` cookie with the `Set-Cookie` header for me automatically.

The issue is that in Firefox or Chromium, I get the following warning:

![Screenshot from 2021-10-09 19-47-45](https://us

[2021-10-12 09:12] imhotep93 opened #386 "jpegPhoto ldap attribute not used"
For ad integration you are using the thumbnailPhoto for avator but no one in ldap may be you can use the jpegPhoto. #387

[2021-10-14 07:21] feix308 opened #388 "playlists-draw annotations error"
ues draw annotations tips "An error occured while saving your annotation, please wait 3s for another try."
![图片](https://user-images.githubusercontent.com/18180903/137270309-e61bb77a-c952-4d88-b572-f904f7c5c3da.png)

[2021-10-15 01:42] feix308 commented on #388
Yeah!It’s works well!Thanks for your work!!!

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Frank ***@***.***>
发送时间: 2021年10月14日 21:42
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [cgwire/zou] playlists-draw annotations error (#388)

Can you update Kitsu and try again?

―
You are receiving this because you authored the thread.
Reply to this email directly,

[2021-10-15 13:04] EvanBldy commented on #385
Hello @johhnry, thanks for the suggestion !
I have made a PR to set JWT_COOKIE_SAMESITE to Lax.

[2021-10-19 12:11] frankrousseau commented on #388
Great!

[2021-10-19 12:11] #388 closed, assigned to nobody

[2021-10-19 12:20] #386 closed

[2021-11-17 11:40] Plyrolith opened #397 "File tree variable <Department> not working for output files"
\<Department> is currently only working for building work file paths.
Could be easily fixed by expanding the parameters of **get_folder_from_department** and extend that function to directly grab the department id from the task type there using an if switch, just like the function a few lines below.

https://github.com/cgwire/zou/blob/98dce8145db13f8559d43b0d68d3a6299554f2b6/zou/app/services/file_

[2021-11-17 13:06] frankrousseau commented on #397
Thank you for the bug report. Do you think that you could handle it and make a PR for this?

[2021-11-17 13:19] Plyrolith commented on #397
Will do! I'll set it up until the end of the week.

[2021-11-19 19:12] 4nker opened #399 "'zou' not foud"
During installation on Ubuntu (20.04.3 LTS) when running the following command:

Finally, create database tables (it is required to leave the posgres console and to activate the Zou virtual environment):

Run it in your bash console.
**DB_PASSWORD=yourdbpassword zou init-db**

The output is **"Command 'zou' not found, did you mean:"**

I have also tried this install process multiple times on Pop-O

[2021-11-20 11:47] frankrousseau commented on #399
Hello @4nker, thank you for your interest in Kitsu, this message means that you didn't activate the virtual environment.

[code]

[2021-11-20 12:02] 4nker commented on #399
Ok. Thanks for the quick reply. I will re-run the install and pay special attention to this step and feedback.

[2021-11-20 17:34] 4nker commented on #399
running ". /opt/zou/zouenv/bin/activate"    instead of  ". zouenv/bin/activate" worked. Everything is up and running now. Not sure why it didn't work as everything was where it should be. Thanks for your assistance.

[2021-11-21 14:51] frankrousseau commented on #399
Great, you can enjoy Kitsu now!

[2021-11-21 14:51] #399 closed

[2021-12-03 19:35] johhnry opened #403 "Task Type for_entity field is wrong"
Hi,

I am using Zou `0.13.23` and I have a task type like the following (displayed in Kitsu):

![image](https://user-images.githubusercontent.com/35373357/144662157-253923e4-2b23-4fd4-8d73-12f28b32ca12.png)

However when querying `/api/data/task-types`, the `for_entity` field is indicating `Asset` instead of `Shot`:

[code]

I can use the `for_shots` to differentiate if the task is on an asset or

[2021-12-12 22:50] #397 closed

[2021-12-12 22:51] frankrousseau commented on #301
In fact you should not use the display name but the member ID provided in the Slack profile.

[2021-12-22 12:36] #301 closed

[2021-12-22 12:37] frankrousseau commented on #359
It's too hard to reproduce. I close the issue. Feel free to open it again if needed. Whatever the information is stored by GIthub.

[2021-12-22 12:37] #359 closed

[2022-01-12 07:25] nledez opened #405 "`alembic_version` still exist after `zou clear-db`"
Hi, when you launch `zou clear-db` the table `alembic_version` still exists and filled with the last migration.

With this table and `version_num` defined the command `zou init-db` do noting.

To reproduce:
- Launch `zou init-db` to have a fresh DB
- In Postgres `\d` list all tables
- Launch `zou clear-db` to clean the DB
- In Postgres `\d` show `alembic_version` table that remains
- `select * fro

[2022-01-12 08:35] frankrousseau commented on #405
You're right, it's not optimal. You have to run the `zou reset-migrations` command.

[2022-01-14 02:32] codersaran opened #406 "Can't able to perform backup"
I was trying to backup using the code
cd /opt/zou
. zouenv/bin/activate
DB_PASSWORD=yourdbpassword zou dump-database
I was running myself kitsu in ubuntu 20.04

but the dump-data base result in the permission denied.

[2022-01-14 09:23] frankrousseau commented on #406
Hello @codersaran,

Thank you for the report. You must check that you have the rights to write in the working directory.

[2022-01-14 14:09] codersaran commented on #406
![Screenshot from 2022-01-14 18-59-32](https://user-images.githubusercontent.com/49817946/149528040-9ab5adfa-4860-464b-bde9-4b1dd11b7d1a.png)
![Screenshot from 2022-01-14 19-00-16](https://user-images.githubusercontent.com/49817946/149528045-cca6e03f-9f59-4dea-acfc-f2064f7b98d3.png)
I think that the zou has permission to write in the /opt/zou directory unless if it is not writing in that directory

[2022-01-15 20:21] dzoniandric opened #407 "Error sending email"
Hi everyone, I am almost certain I am doing something wrong but not sure what and how should I configure zou.

When I attempt to make new user and send email request to them, I get an error. My gunicorn error log displays this:

[code]

This is my /etc/systemd/system/zou.service config file:

[code]

Thanks for any help. Great app and very good documentation, by the way. Installation was very clea

[2022-01-17 10:06] paulgolter opened #408 "Custom metadata for shot casting"
Hey 🙂

As requested by @frankrousseau in the Discord channel, I create an issue for this feature request here.

It would be great if we could add some custom metadata to the casting entries of the shot, e.G what version of the asset is being casted.
It would be sufficient to allow TDs to store data in the known `data={}` dictionary for each asset entry in the shot casting.

So I would need to do s

[2022-01-17 15:48] frankrousseau commented on #408
Thank you Paul for the suggestion. We'll see what we can do for this

[2022-01-17 15:49] frankrousseau commented on #406
I think it saves it in your current directory.

[2022-01-17 20:20] codersaran commented on #406
Yes i think so.I got away from this issue by directly backing up from the postgres and again restoring it back through postgres itself without entering zou.

[2022-01-17 20:20] #406 closed

[2022-01-28 10:30] Ramel opened #414 "Problem with update to last master commits in Zou and Kitsu after switching from own dev branch!"
As working on my own Gitlab *mattermost* branch, when I switch back to Github **zou** *master* branch, as my patchs were applied, and before new release (cannot wait)  I have now an error while launching **zou** service.

After searching a while, I found a solution. I share it, as is, just in case. But I don't know if it's the best way to solve it.

Starting point:

 - **Zou** in myowned.gitlab.co

[2022-01-31 10:08] frankrousseau commented on #407
Did you set these variables properly?

[code]

[2022-01-31 10:14] frankrousseau commented on #405
@nledez Can I Close this issue?

[2022-01-31 10:34] frankrousseau commented on #414
Yes, the problem is that you made a Pull Request on the master branch without having an up-to-date list of migrations. So, I had to modify your database revision to apply it after our last change instead of the one you set. That's why it has put some mess in your codebase.

I think the best way was to mark the last alembic revision applied in the database to the changes that occurred prior to the

[2022-02-02 17:58] mathbou opened #417 "Disabled AD users always set as active in Zou"
The state of our users are no longer taken into account when syncing our AD. It seems 497c007 introduced the regression.

Cg-Wire version: Kitsu 0.13.42 // Zou 0.13.27

[2022-02-02 18:03] frankrousseau commented on #417
Thank you for reporting. It's weird because the code doesn't match the commit message.

[2022-02-22 10:07] coolturens commented on #353
I have the same issue, I tried aixzhou0216 solution but still not working, I tried with .mov and avi too. I can see .jpg but not video.

[2022-02-22 09:56:44,939] ERROR in preview_files_service: failed
Traceback (most recent call last):
  File "/opt/zou/zouenv/lib/python3.8/site-packages/zou/app/services/preview_files_service.py", line 148, in prepare_and_store_movie
    ) = movie.normalize_movie(

[2022-02-22 10:21] coolturens opened #428 "This preview is broken"
Hello, I have this issue, I tried aixzhou0216 solution from the #353 but still not working. I can see .jpg but not video.

this is the gunicorn.log

[2022-02-22 09:54:00,300] ERROR in resources: [Errno 2] No such file or directory: '/opt/zou/previews/files/previews/424/747/42474714-d865-42bc-b13d-39c4f46596e2'
[2022-02-22 09:54:00,300] ERROR in resources: Non-movie file was not found for: 42474714

[2022-02-22 13:39] frankrousseau commented on #428
Hello, thank you for reporting this bug. If you can provide the video, it would help us to fix the problem or to propose a solution.

[2022-02-22 18:58] coolturens commented on #428
Yes of course, here is the video, it is a simple testing shot for it

https://drive.google.com/file/d/1X4XK1R_hhQl7hfHurqaHyyDIxmV1onHn/view?usp=sharing

[2022-02-22 22:29] coolturens commented on #428
A couple of screenshots, maybe it help.

![Captura de pantalla 2022-02-22 162519](https://user-images.githubusercontent.com/2522570/155230178-13bbf333-a5de-4929-a68b-cf92942f6a71.png)
![Captura de pantalla 2022-02-22 162203](https://user-images.githubusercontent.com/2522570/155230190-753c4b8d-c4ff-434d-8bd2-883d1c68a54f.png)

[2022-02-25 10:13] coolturens commented on #428
I fixed it increasing the memory ram and volume of the droplet O.O, sorry for the waste of time because my lack of knowledge on that.

[2022-02-25 10:27] frankrousseau commented on #428
Great thank you! Yes ffmpeg consumes a lot of resources.

[2022-03-16 21:03] paullam328 opened #440 "Docker - Cannot access to the required Redis instance"
I need to host my Zou instance in a container at port 5000 in order to properly deploy Blender Watchtower in another container, in which a part of its code makes api calls to port 5000 to authenticate users: https://studio.blender.org/blog/introducing-watchtower. (Posted gunicorn, zou and nginx config files in the following comment)

Dockerfile:
[code]

docker-compose.yml:

[code]

Somehow, after

[2022-03-16 21:08] paullam328 commented on #440
gunicorn.conf:
[code]

gunicorn-events.conf:
[code]

zou.service:
[code]

zou-events.service:
[code]

nginx:
[code]

[2022-03-16 21:22] flablog commented on #440
I'm no expert in dockers, so I can't really help you...
But I was wondering if you started the redis server after installing it on your first docker file, with the command `redis-server --daemonize yes` for example

[2022-03-17 07:16] nledez commented on #440
First, Docker container is designed to separate all process. But you try to put too many proccess in one instance.
Second, Docker is designed to manage foreground process. But you try to launch them as daemon.
I think you can try to put all process managed by another process "manager" like http://supervisord.org/ (good news, it's in Python too).
You can check how we do this in the official image:

[2022-03-17 17:59] paullam328 commented on #440
@nledez Thanks for your guidance.  I should've learnt about this Supervisord library earlier, that seems like the solution to me.  I'll try that out and make port 5000 accessible and exposed and see whether it works

[2022-03-29 14:26] #414 closed

[2022-03-30 13:35] Anti-Distinctlyminty opened #450 "Sequence Stats not showing in Project menu"
When creating a new project of type "short" the majority of the time there is no "Sequence Stats" in the menu, but for some reason there is "Episode Stats". See the video below:

https://user-images.githubusercontent.com/1378483/160837702-9e0b3542-149e-4117-a843-b154b6c87022.mp4

<details><summary>The result of a call to api/data/projects</summary>

[code]
</details>

Logs (trimmed to just today's

[2022-03-31 18:55] Anti-Distinctlyminty commented on #450
@frankrousseau Can you transfer this issue to https://github.com/cgwire/kitsu/issues ?

[2022-04-06 10:26] #405 closed

[2022-04-14 11:11] frankrousseau commented on #403
It should be fixed. Can you try again?

[2022-04-14 21:13] johhnry commented on #403
Thanks @frankrousseau, it works now in Zou 0.13.45!

I got:

[code]

[2022-04-14 21:13] #403 closed

[2022-04-21 15:23] #407 closed

[2022-04-21 15:23] frankrousseau commented on #450
It was fixed and declared in Kitsu too. Thank you for reporting!

[2022-04-21 15:23] #450 closed

[2022-04-21 23:20] awils27 opened #456 "An error occurred while posting comment"
https://github.com/cgwire/kitsu/issues/851

Having issues posting to kitsu from a reverse proxy.

Logs
[gunicorn_events_error.log](https://github.com/cgwire/zou/files/8535650/gunicorn_events_error.log)
[gunicorn_error.log](https://github.com/cgwire/zou/files/8535651/gunicorn_error.log)
[gunicorn_access.log](https://github.com/cgwire/zou/files/8535652/gunicorn_access.log)
[kitsu.mydomain.com-165003

[2022-04-29 10:02] Plyrolith opened #459 "LDAP sync - sqlalchemy TimeoutError: QueuePool limit reached"
Hey,

I upgraded to version 0.14.0 and after running flawlessly for around 30 minutes, Zou/Kitsu completely freeze (the web browser only draws Kitsu's background color). After a few seconds, Kitsu will load the login screen, but authenticating is not possible.
We have a small team working on our instance, usually around 5-20 people at a time.

It seems to be that sqlalchemy's queue pool limit is r

[2022-05-05 14:38] frankrousseau commented on #408
We added the field to the links. But I'm not sure that it will be enough for you. Can you try if you can do something with it?

[2022-05-05 14:38] #440 closed

[2022-05-05 14:40] frankrousseau commented on #459
Hello,
You can try to increase these values via environment variables: https://github.com/cgwire/zou/blob/master/zou/app/config.py#L45-L48

[2022-05-06 16:07] mdk-man opened #462 "zou 14.1: unable to delete task comment or change task status"
On a fresh install a warning is displayed in Kitsu while deleting a task status.
The following error pops in gunicorn_errors.log:
[code]

[2022-05-07 13:08] sushant36000 opened #463 "Valueerror while init-db"
Creating database and tables...
Traceback (most recent call last):
  File "/opt/zou/zouenv/bin/zou", line 8, in <module>
    sys.exit(cli())
  File "/opt/zou/zouenv/lib/python3.8/site-packages/click/core.py", line 1137, in __call__
    return self.main(*args, **kwargs)
  File "/opt/zou/zouenv/lib/python3.8/site-packages/click/core.py", line 1062, in main
    rv = self.invoke(ctx)
  File "/opt/zou/

[2022-05-08 14:59] frankrousseau commented on #462
It should be fixed in 0.14.2. Can you try again?

[2022-05-08 21:06] frankrousseau commented on #463
Make sure that the database is up and running and the user was properly created. Your password seems to use some special chars that is not supported to set up the postgres url.

[2022-05-09 17:01] sushant36000 commented on #463
Thanks a lot
I rechecked and in postgres I was using special chars in password that's why I was getting such errors. Thanks a lot.

[2022-05-10 12:26] Plyrolith commented on #459
I just figured out the source:
Our LDAP user sync runs every 30 minutes!
I manually synchronized using `zou sync-with-ldap-server`  and it immediately created overload.

# The problem is LDAP sync

[2022-05-10 17:57] Plyrolith commented on #459
Whenever I edit a person, I'm getting the following error:

[code]

Maybe the exception leads to an abandoned, unclosed database connection?

[2022-05-11 15:38] Tilix4 opened #464 "Missing project_id field from events"
`project_id` field is missing from `episode:delete` and `sequence:delete`, when it's provided by `asset:delete`.

[2022-05-12 20:41] mdk-man commented on #462
Perfect ! Thank you very much 😊

De : Frank Rousseau ***@***.***>
Envoyé : dimanche 8 mai 2022 16:59
À : cgwire/zou ***@***.***>
Cc : mdk-man ***@***.***>; Author ***@***.***>
Objet : Re: [cgwire/zou] zou 14.1: unable to delete task comment or change task status (Issue #462)

It should be fixed in 0.14.2. Can you try again?

—
Reply to this email directly, view it on GitHub<https://nam12.safelinks

[2022-05-13 08:47] #462 closed

[2022-05-16 07:00] jmreymond opened #466 "during installation: Cannot access to the required Redis instance"
I am trying to install the software.
I have created a PostgreSQL database on another server and I can access the database:
`psql -h 10.0.3.1 -U postgres  zoudb
psql (12.10 (Ubuntu 12.10-0ubuntu0.20.04.1))
SSL connection (protocol: TLSv1.3, cipher: TLS_AES_256_GCM_SHA384, bits: 256, compression: off)
Type "help" for help.

zoudb=# \q
`
but next step is to configure database:
`# DB_HOST=10.0.3.1 zou

[2022-05-17 15:46] frankrousseau commented on #466
Hello @jmreymond,
The error message tells that the Redis instance is not up. I think you should look what is wrong the Redis installation.

[2022-05-17 15:55] jmreymond commented on #466
Hi
I am following the documentation and in the chapter "Prepare database"
"Prepare key value store" is the next chapter.
Does it mean that the order is not correct ?

[2022-05-17 17:20] jmreymond commented on #466
so, I have changed the config file for redis and now, it works like a charm
thanks

[2022-05-17 17:20] #466 closed

[2022-05-20 06:06] awils27 opened #469 "Error while reaching API"
This is in a different environment and machine to #456

Trying to use kitsu/zou with an External Postgres database and NFS share for preview, temp and log files.

For Postgres I have added DB_HOST= to the following files:
/etc/systemd/system/zou.service
/etc/systemd/system/zou-events.service

I've also added it to commands run in the virtual environment such as
DB_PASSWORD=yourdbpassword zou init-

[2022-05-20 06:07] awils27 commented on #469
Here is the Gunicorn error log:

[2022-05-20 15:17:26 +1000] [745] [INFO] Listening at: http://127.0.0.1:5000 (745)
[2022-05-20 15:17:26 +1000] [745] [INFO] Using worker: gevent
[2022-05-20 15:17:26 +1000] [747] [INFO] Booting worker with pid: 747
[2022-05-20 15:17:26 +1000] [748] [INFO] Booting worker with pid: 748
[2022-05-20 15:17:26 +1000] [749] [INFO] Booting worker with pid: 749
[2022-05-20

[2022-05-20 06:31] awils27 commented on #469
Misconfigured the VM so zou didn't have the max amount of RAM, letting it actually have the full 32gb it runs fine.

[2022-05-20 06:31] #469 closed

[2022-05-20 08:29] Plyrolith opened #470 "KeyError when updating a user"
When updating a user, I'm getting a key error for 'departments'.

We're currently on 14.4, this has been happening since 13.57.
(This is the actual error leading to #459).

I've successfully run `zou upgrade-db` on every upgrade. Could this still be an issue with our database?

Thanks!

[code]

[2022-05-24 11:35] EvanBldy commented on #470
Hi @Plyrolith, can you open psql to check that the department link with person exist ?
`sudo -u postgres psql`
In psql type :
[code]
[code]
Check that the line `TABLE "department_link" CONSTRAINT "department_link_person_id_fkey" FOREIGN KEY (person_id) REFERENCES person(id)` is here

[2022-05-24 11:57] EvanBldy commented on #470
Hi @Plyrolith,
Finally I have found the bug, the fix is here : https://github.com/cgwire/zou/pull/472
It will be in the next release !
Can you close both issues when you've tested it's fixed?
Thanks for the report !
Have a nice day :)

[2022-05-27 00:47] awils27 opened #475 "Cannot use seperate postgres server"
Having some terrible luck with kitsu/zou, pretty sure this is a zou problem, for some reason we cannot post videos to our test instance anymore.

error log says this and thats all

[2022-05-27 09:56:38 +1000] [761] [INFO] Listening at: http://127.0.0.1:5000 (761)
[2022-05-27 09:56:38 +1000] [761] [INFO] Using worker: gevent
[2022-05-27 09:56:38 +1000] [763] [INFO] Booting worker with pid: 763
[202

[2022-05-31 09:39] mathbou commented on #417
Resolved by 09ce62f6df449fee8f58bd6bad0d945a834dd1f3

[2022-05-31 09:39] #417 closed

[2022-05-31 13:00] Plyrolith commented on #459
Fix #472  tested & confirmed! Thanks!

[2022-05-31 13:00] Plyrolith commented on #470
Hey Evan,
Fix #474  tested & confirmed!
Thank you so much!

[2022-05-31 13:00] #470 closed

[2022-05-31 18:24] frankrousseau commented on #459
Please keep it open, the overload problem is still there. I know how to fix this, but it will require some time to do it.

[2022-06-08 09:58] apollojph opened #480 "Environment variable was not working when I used "zou sync-with-ldap-server" command?"
When I used `zou sync-with-ldap-server` command in the [LDAP document](https://zou.cg-wire.com/ldap/#user-list-synchronization), it showed `ldap3.core.exceptions.LDAPInvalidDNSyntaxResult: LDAPInvalidDNSyntaxResult - 34 - invalidDNSyntax - None - invalid DN - bindResponse - None`.

Here's the screenshot about error message:

![20220608_kitsu_ldap_1](https://user-images.githubusercontent.com/175364

[2022-06-08 16:30] frankrousseau commented on #480
It works as expected. It's just that you have to add this command on the command line or load a `.env` file. Examples:

[code]

[code]

`zou.env` looks like:
[code]

[2022-06-08 16:30] #480 closed

[2022-06-10 09:58] apollojph opened #483 "Admin can't login when AUTH_STRATEGY=auth_remote_ldap"
For LDAP usage, I set AUTH_STRATEGY=auth_remote_ldap in /etc/systemd/system/zou.service.
The LDAP user can login but the admin account not.
When I set AUTH_STRATEGY back to default value the admin account works again but LDAP not.
How can I use both type account to login?
Besides, is it possible to add user in LDAP mode?
Thanks!

[2022-06-10 10:08] frankrousseau commented on #483
Please refer to the documentation: https://zou.cg-wire.com/ldap/

You can activate the flag `LDAP_FALLBACK=True`

[2022-06-10 10:39] apollojph commented on #483
We already set LDAP_FALLBACK=True in /etc/systemd/system/zou.service.
Do I miss other files to change?
Thanks

[2022-06-16 09:52] fyplclfkr opened #485 "Can I set the default timezone and locale?"
When I create a new user, the default time zone is Paris and the language is English. Can I change the default？

[2022-06-17 14:18] EvanBldy commented on #485
Hi @fyplclfkr!
For the timezone there's this environment variable that can be set : https://github.com/cgwire/zou/blob/bd477a44a30d4f16659b2228d0a9458f6a2d77bd/zou/app/config.py#L128
For the default language it's not possible to change the default that is Locale("en", "US") for the moment.

[2022-06-20 07:53] apollojph commented on #483
Sorry for bothering you again.

I set `LDAP_FALLBACK=True` in `/etc/systemd/system/zou.service` with 14.15, 14.8, 14.6 and 13.46 version. All of these didn't work.

And I tried docker version with 14.15 and 13.46 version. It didn't work either.

Is this a bug?

Thanks

[2022-06-20 13:16] #485 closed

[2022-06-23 10:09] #475 closed

[2022-06-23 10:10] frankrousseau commented on #483
It may be a bug. But noone reported it to us. We'll check that.

[2022-06-23 10:38] apollojph commented on #483
Thanks！

[2022-06-24 08:36] nledez opened #491 "Zou commands raise error `Permission denied: 'indexes'` on each call"
If you aren't in `/opt/zou` folder and not with user `zou` commands (`init-db`, `upgrade-db`, `create-admin` and `init-data` for now).

[2022-06-24 09:12] frankrousseau commented on #491
You have to set the `INDEXES_FOLDER` variable to the folder you want to avoid this problem.

[2022-06-24 15:17] nledez commented on #491
Nope. But it’s not in documentation.
(in old doc - maybe use by other users):
’DB_PASSWORD=yourdbpassword zou upgrade-db ’
It’s failed with ’Permission denied’ error. Or it creates a ’indexes’ folder on the current path (wrong one).

[2022-07-01 00:11] flinfo opened #496 "After restoring to new database, backup command continues to dump old database."
I had done a clone of our kitsu server, just in case our main server fell over... which it just did. I simply restored the latest database backup to the clone. (including preview folder).
So 'zoudb' was the database, and the latest backup was restored to a new database called 'zoudb3'.
I updated /etc/systemd/system/zou.service to include the DB_DATABASE reference like so:
`Environment="DB_DATABASE

[2022-07-07 12:45] gregoiredelzongle opened #498 "zou-jobs running very slow on Synology NAS DS920+"
Hey everyone and thank you for this amazing software.

I run zou+kitsu using the [https://gitlab.com/mathbou/docker-cgwire](Mathieu BOUZARD dockerized version).
Everything works well but the docker contenair which is running zou-jobs is eating all the ram and cpu power, slowing down all other process running inside the NAS (which is 4GB ram and a intel 4core at 2ghz). It may be better to switch to

[2022-07-08 01:55] gstorni commented on #491
Hello, I got the same issue trying to backup the database
<img width="844" alt="Screen Shot 2022-07-07 at 22 43 50" src="https://user-images.githubusercontent.com/3090235/177899965-aa80c5ca-3798-4a01-b9b7-a71fb5bfc5d0.png">

I found this waklkaround.
https://stackoverflow.com/questions/67863292/permissionerror-errno-13-permission-denied-on-ubuntu-trying-to-run-selenium

"sudo chmod -R 777 /path/to

[2022-07-08 07:51] frankrousseau commented on #491
Please don't do that. It gives access rights to everyone.  A `chown` for the `zou` user should be enough.

[2022-07-08 18:24] gstorni commented on #491
Thank you Frank, Ill try that.

[2022-07-11 15:57] frankrousseau commented on #498
Hello @gregoiredelzongle, it depends on your needs. If you upload short shots it should be ok. We use FFMPEG to normalize all uploaded videos. But it eats up everything it can. So, if you face slowness you can look at limiting the resource available for the job's container.

[2022-07-11 15:58] frankrousseau commented on #496
You have to give the database name too through the environment variables.

[code]

[2022-07-11 22:20] flinfo commented on #496
That worked perfectly. "Of course!" came to mind when I read it. Thanks 👍

[2022-07-11 22:20] #496 closed

[2022-07-14 09:26] gregoiredelzongle commented on #498
I was able to limit the cpu and ram usage by adding some rules to the docker-compose file, it's slow but it works !

[2022-07-14 09:26] #498 closed

[2022-07-14 15:15] fyplclfkr opened #501 "Can multiple folders with fixed names be generated at the end of the file path"
![image](https://user-images.githubusercontent.com/74193811/179016668-f0630a46-fa35-481b-bf0d-5f41553b406e.png)

I want to create three folders in the folder of animation tasks, which are the same as those in the pictures. Is it possible? How should I set up my file tree? Thank you very much. If I can't, I can only build it manually.

[2022-08-12 11:51] frankrousseau commented on #501
You can have several modes, by adding entries like "output" similar as the working file entry you have.
Then when you build your file path, you have to give the mode as parameter of the `build_path` function.

[2022-08-12 11:53] #464 closed

[2022-08-12 12:49] frankrousseau commented on #459
@Plyrolith can you tell me how you plotted the PG connection graph?

[2022-08-12 12:52] frankrousseau commented on #483
Sorry but I can't reproduce the bug. Do you have more information?

About the user creation, it should be made via the LDAP synchronization.

[2022-08-15 08:30] Plyrolith commented on #459
Hey Frank! Our main database is an AWS RDS instance, which provides monitoring tools (where I captured the graph). Another tool we use is pgAdmin (https://www.pgadmin.org/).
pgAdmin also comes with a dashboard that includes a simple connections graph:

![image](https://user-images.githubusercontent.com/49444317/184601549-c001e7bb-efbb-498b-aec5-ae6f8d8afb2c.png)

I also want to state again that si

[2022-08-18 08:21] frankrousseau commented on #459
Ok great, so let's close this issue. And thank you for the tips!

[2022-08-18 08:41] #459 closed

[2022-08-22 18:39] cbsrobot opened #513 "cache files won't get written to tmp from s3 storage"
after upgrading zou from 0.13.x to 0.15.1 I get the following error:

[code]

and the cache files are not written to the tmp dir.

I traced it back to https://github.com/cgwire/zou/commit/7e9cf97483151ef95a9a11dfdc15d207854a0cb5

reverting the hunk `for chunk in io.BytesIO(read_stream):`  seems to solve the issue

[2022-08-31 14:22] EvanBldy commented on #513
Hi @cbsrobot,
Thanks for the report !
It should be fixed in this PR : https://github.com/cgwire/zou/pull/520.
Can you close the ticket if it's good for you ?

[2022-08-31 14:54] EvanBldy commented on #491
Hi @nledez,
It should be fixed in this PR https://github.com/cgwire/zou/pull/520

[2022-09-01 08:59] Plyrolith commented on #459
@frankrousseau
I just tried updating to 0.15.4 and the error is back... this time for workers it seems.

All versions before 0.14.17 seem to work fine; could not determine which commit is responsible since then.

[code]

[2022-09-06 08:37] frankrousseau commented on #459
@EvanBldy, I think we should rewrite this function without database committing each change directly. We should add the changes to the db session and commit them at the end of the function.

[2022-09-21 03:14] flinfo opened #524 "Can not log on to restored database."
I can successfully backup and restore the Zou db from one server to another.
I seem to be unable to log in as any of the users in the database though. Is this a bug or am I missing a step?

old server: {"name": "Zou", "version": "0.13.27", "database-up": true, "key-value-store-up": true, "event-stream-up": true, "job-queue-up": false}
new server: {"name": "Zou", "version": "0.15.6", "database-up":

[2022-09-25 16:07] #513 closed

[2022-09-25 16:07] #501 closed

[2022-09-25 16:07] #491 closed

[2022-09-25 16:08] #456 closed

[2022-09-25 16:08] #408 closed

[2022-10-03 15:50] frankrousseau opened #526 "Improve Login documentation"
The login documentation doesn't tell much about the data returned. It would be great to have a description of the full schema of the data returned.

[2022-10-05 15:56] kapellan2000 opened #528 "LDAP filter"
Hi,
Please tell me how can I use LDAP filter to sync only required accounts.
I can use "LDAP_EXCLUDED_ACCOUNTS=Administrator,TestAccount \" to exclude users
Maybe there is something for groups, filters, etc.?

[2022-10-06 13:01] jhoolmans opened #529 "Listing task types linked to a project requires manager permissions."
Calling `gazu.tasks.all_task_types_for_project` seems to require manager permissions.

https://github.com/cgwire/zou/blob/17f7512be96a7cdb55307a87f9c02e425556d167/zou/app/blueprints/projects/resources.py#L266

While task statuses can be requested by artists.

https://github.com/cgwire/zou/blob/17f7512be96a7cdb55307a87f9c02e425556d167/zou/app/blueprints/projects/resources.py#L371

Should reading ta

[2022-10-07 03:12] flinfo opened #531 "upgrading db throwing error - Perhaps you meant to reference the column "person.active""
Trying to upgrade the zou and zou db:
https://localhost/api/status reads everything up (0.13.27)
No problem logging in as any user

Upgrading Zou goes through fine.
`sudo /opt/zou/zouenv/bin/pip3 install --upgrade zou`
https://localhost/api/status reads everything up (0.15.7)

but upgrading db errors:
`sudo -u zou DB_PASSWORD=somepassword /opt/zou/zouenv/bin/zou upgrade-db`

https://localhost/api/

[2022-10-07 08:20] frankrousseau commented on #531
Hello @flinfo,
Sorry, but we didn't design Zou for waiting so much between two different updates. @EvanBldy can maybe help you. But it's due to the fact that the database is unsynchronized.

[2022-10-07 12:36] #529 closed

[2022-10-09 21:12] flinfo commented on #524
Success... related to this issue (531):
https://github.com/cgwire/zou/issues/531

[2022-10-09 21:12] #524 closed

[2022-10-09 21:29] flinfo commented on #531
Ah! Excellent thanks for that. I have now resolved this issue.

I was able to resolve by upgrading 1 version at a time, then updating the database after each zou upgrade. I did jump 4 or 5 versions here and there, but this is being done on a VM so just took lots of snapshots and if anything broke, I just rolled back and did a smaller jump.

Upgrade process (I was going from 0.13.27 - 0.15.7)
-cd t

[2022-10-09 21:29] #531 closed

[2022-10-10 09:02] frankrousseau commented on #531
Great, thank you for keeping us up to date with that!

[2022-10-13 13:59] EvanBldy commented on #528
Hi @kapellan2000,
I'm sorry this is not possible for the moment you can only use "LDAP_EXCLUDED_ACCOUNTS", maybe you can use LDAP_GROUP if your LDAP is an AD ? It will import only users in this group.

[2022-11-04 20:50] autoiue opened #540 "LDAP: use of a unpopulated attribute for authentication, impossibility to connect."
In the file [auth_service.py line 121](https://github.com/cgwire/zou/blob/e8c9cd3069a833fa36ea6822b390c03365f21446/zou/app/services/auth_service.py#L121), the attribute `full_name `of the `person` object does not exist.

This leads to a bad value being used for authentificatino against the LDAP server.

Replacing `full_name` by `desktop_login` seems to work.

See pull request #541

[2022-11-07 18:52] gkarandeev commented on #336
Have similar problem while updating.
After "sudo /opt/zou/zouenv/bin/pip3 install --upgrade zou"
executing "sudo -u zou DB_PASSWORD=mypassword /opt/zou/zouenv/bin/zou upgrade_db" fails.

`Traceback (most recent call last):
  File "/opt/zou/zouenv/lib64/python3.6/site-packages/sqlalchemy/engine/base.py", line 2336, in _wrap_pool_connect
    return fn()
  File "/opt/zou/zouenv/lib64/python3.6/site-p

[2022-11-27 22:57] #528 closed

[2022-11-28 00:15] EvanBldy commented on #540
Hi @procsynth,
As I said in your PR full_name it's a calculated value from the first and last name. See here : https://github.com/cgwire/zou/blob/ece10754ded8617f63a206fb538d2ace9312f811/zou/app/models/person.py#L73

Are you trying to connect with Administrator account ?
He doesn't have a first name (givenName) and last_name (sn) so it can't work. I will fix that.

[2022-11-30 13:30] frankrousseau commented on #526
Documentation available here: https://api-docs.kitsu.cloud/

[2022-11-30 13:30] #526 closed

[2022-11-30 13:31] EvanBldy commented on #540
It was fixed for Administrator in this PR : https://github.com/cgwire/zou/pull/547

[2022-11-30 13:45] frankrousseau commented on #540
@procsynth could you confirm it was fixed?